[2016-05-16 22:46] jarednova commented on #993
btw, glad you got it all worked out! I wasn't aware of the infinite height attribute in WP. For Timber you'd want to use this:

[code]

... might be good to put in a catch for "9999" — I can imagine some others might hit that snag

[2016-05-16 22:50] cheestudio commented on #993
Jared,

First off...you are THE MAN!

And this syntax makes sense to me:

`{% for study in Post(featured_case_studies) %}`

I will use that here on out. For some reason my brain really wants to see "Post" as "post" (lowercase) but I can see how that would be really problematic.

Anyway, great to see how Timber is evolving.

And I want to send you a beer! Do you have a way I can do that?  :)

[2016-05-17 08:37] connorjburton commented on #993
Small note on that auto converter, if you set your repeater field to return a WP Post object it will convert it to a `Timber\Post` object, so it's easier than returning an id and having to manually do `Timber\Post(id)`

Glad it's solved and will close this issue now

[2016-05-17 09:01] connorjburton commented on #979
Hm, interesting, in theory it should work.

Is it possible to provide your code over email? My address is REDACTED - otherwise any debugging you can do on the new code in terms of checking if the conditional statement is running as expected would be great (Does `\WP` exist etc)

[2016-05-17 09:12] pascalmaddin opened #1002 "Fatal error: Call to a member function render() on null"
Hi everybody,

I moved a WP-Installation to another computer (I am using MAMP) and when I call the page in the browser I get an fatal error instead of the page (page works fine on the other computer)

The error is: **Fatal error: Call to a member function render() on null in [path-to-site]/plugins/timber-library/lib/Loader.php on line 71**

I am using Plugin Version Version 1.0.3 (the error also c

[2016-05-17 09:21] connorjburton commented on #1002
Could you please provide your theme and Timber plugin in an email? connorjburton@gmail.com

Initial guess is that Twig doesn't exist in your plugin.

Thanks

[2016-05-17 09:21] connorjburton commented on #973
Any updates @ogrosko ? Thanks

[2016-05-17 10:07] jarednova commented on #993
@cheestudio — best thing you can do is tweet about us — we're at [@TimberWP](https://twitter.com/timberwp). (But I suppose if you do find yourself in Boston, I'd take you up on that beer).

[2016-05-17 11:11] developer-lindner commented on #546
Any update here?

[2016-05-17 13:54] tomasvanrijsse opened #1004 "Constructing an instance of TimberPost clears global $product (Woocommerce)"
### Expected behavior

We load TimberPost instances from a custom post type with custom fields on the products page.
These instances where loaded first and then the WooCommerce product html was generated.
### Actual behavior

Since v1.x of Timber the initialization of an instance of TimberPost will remove the global variable $product.
I've tracked it down to timber/Post.php line 496 where `do_acti

[2016-05-17 14:42] chrisgherbert commented on #979
It's really just a standard Bedrock setup with Timber added as a Composer dependency.  Here's a repo I created that has the most recent commit of Timber as a dependency: https://github.com/chrisgherbert/bedrock-with-timber

If you're not familiar with installing a Bedrock project, you just need to do the following:

- Clone the repo
- Run `composer install`
- Copy `.env.example` to `.env`, then mo

[2016-05-17 15:22] ogrosko commented on #973
No idea where is the problem
After few days database grows to 250MB :( And no idea where is the problem.

What about to disable timber cache?

[2016-05-17 16:10] ogrosko opened #1005 "Q: Timber plugin version method"
You have made great job with version 1.0.*
Is there some method for getting timber version?

There are namespaces naming changed and I need to keep compatibility for older versions.
I would need something like:

`if (version_compare(\Timber::get_version(), '1.0.0', '<')) {
	# old namspace functionality
}
else {
	# new namspace functionality
}`

[2016-05-17 16:19] cheestudio commented on #993
@connorjburton I don't show ACF has the option to change what the Repeater field itself returns. I do see that for the Relationship field, though. Is that what you meant?

[2016-05-17 16:27] connorjburton commented on #1005
Hi,

Timber 1.0.X should be fully backwards compatible with old versions. Is there something specific that you are doing that isnt working?

[2016-05-17 16:32] ogrosko commented on #1005
Yes I am using small plugin for cache clearing https://github.com/ogrosko/clear-cache-for-timber/blob/master/clear-cache-for-timber.php

See line 40:    `echo TimberCommand::clear_cache();` results in error due to namespace changed in v 1.0

[2016-05-17 16:54] connorjburton commented on #1005
Aha, I must have missed `TimberCommand` when transitioning to namespacing. I will fix this in `1.0.3`. I will also introduce/investigate a version method/attribute so you can check the current version.

[2016-05-17 18:51] middle8media opened #1006 "WP Conditional Tags within Timber"
Is it possible to use WP conditionals tags within Timber?

http://codex.wordpress.org/Conditional_Tags#A_Single_Page.2C_a_Single_Post.2C_an_Attachment_or_Any_Other_Custom_Post_Type

[2016-05-17 18:54] connorjburton commented on #1006
You should be able to do something like `fn('is_singular')` - @jarednova may know a more elegant way if there is one.

[2016-05-18 02:16] kmturley commented on #819
I'm also getting this issue. When I log out the following in page.php:

    print_r(get_posts());

    Array
    (
        [0] => WP_Post Object
            (
                [ID] => 20
                [post_content] => sadbasjdkhsa jhdaskjh
                [post_title] => This is a post
                [post_type] => post
            )

        [1] => WP_Post Object
            (

[2016-05-18 09:02] connorjburton commented on #973
Is this with disabling W3 cache?

[2016-05-18 09:46] joelambert commented on #979
Also having this issue, have tried the latest version in Packagist and also latest commit from `dev-master`.

Rolling back to `1.0-rc2` resolves the issue as a temporary fix.

[2016-05-18 09:52] connorjburton commented on #979
Working on this, thanks for repo @chrisgherbert

[2016-05-18 14:30] PhilippBaschke commented on #991
`dev-master` at [packagist](https://packagist.org/packages/timber/timber#dev-master) still points to b5d15a6 (before patch) for me. What's the best way to install the patched version?

[2016-05-18 14:31] chrisgherbert commented on #991
You can require a specific commit: `"timber/timber": "dev-master#7ae6337f1811b2a274dc43c6434e48b464ec7746"`

[2016-05-18 14:56] PhilippBaschke commented on #979
I am having the same problem and as far as I understand it has nothing to do with the `init` function.

The files autoload
[code]
makes composer require `init.php` which creates a new `Timber` object and the constructor calls `test_compatibility` which calls the offending `is_admin`.

Hope that helps somehow (my problem might also be unrelated). :relaxed:

[2016-05-18 15:14] connorjburton commented on #979
Ah okay, yeah I know what the issue is now. Thanks

[2016-05-18 17:09] aaemnnosttv commented on #979
The `files` autoload is the problem and something to be really careful with since it loads at the same time as the composer's `autoload.php`.  In the case of Bedrock, it's loaded before WordPress is loaded at all, so any file that is being loaded there can't reference anything from WordPress because it won't exist yet.

Unfortunately, as a library it can't initialize itself without using something

[2016-05-18 17:11] chrisgherbert commented on #979
How did this work before 1.0 RC3?

[2016-05-18 18:34] tonimain opened #1010 "Filter Shortcodes on Archive not workig"
Hy friends and some small issue.
Im using Archive.php and added a custom Post type  - Maps. Now I created archive-maps.twig.

Inside my Twig Template I do {% filter shortcodes %}
[Myshortcode]

{% endfilter %}

But nothing is happening. Using it inside my Single.twig everything is fine.

Here's markup from Archive.php

`
<?php
/**
 * The template for displaying Archive pages.
 *
 * Used to display

[2016-05-18 20:07] connorjburton commented on #979
Hey guys, just committed, can you please test. I got the issue replicated on local, did the change and it seemed to resolve the error.

Thanks!

[2016-05-18 20:13] chrisgherbert commented on #979
@connorjburton Thanks!  I tested the new commit and it doesn't immediate cause a fatal error.  However, when I try to activate the Timber Starter Theme I get the following:

`Timber not activated. Make sure you activate the plugin in /wp-admin/plugins.php`

[2016-05-19 08:37] tonimain commented on #1010
is something known to this behavior? filter shortcodes seems not to work on archive-type.twig for some reasons.

Will test it out if it's working when creating own archive-maps.php and not using the archive.php. Will report my results later this day

[2016-05-19 09:44] tonimain commented on #1010
could be closed, the issue coming from monarch plugin

[2016-05-19 09:44] #1010 closed

[2016-05-19 10:13] astenio opened #1011 "WP, Gantry5, and Timber"
started studying the timber, I am using the gantry 5 (which has its base the timber), but I have great difficulty umga:
I want to create a block, which show only the title of the page and another block only the content, but each block (particle) in separate files.
I want to do it only for pages and not to posts.
so I have more control of what will appear on the page.

[2016-05-19 15:27] ogrosko commented on #973
I little worry to disable w3 total cache plugin on live server

[2016-05-19 16:42] JoaoSaleiro commented on #996
@jarednova - any news on this topic? I sent you an email two days ago with more info about this issue.
Thanks!

[2016-05-20 13:30] jarednova commented on #1006
@middle8media the solution from @connorjburton should work, but this might beg a better syntax. Here's what's in my head:

[code]

Any thoughts on how something like that would/wouldn't be helpful?

[2016-05-20 14:56] connorjburton commented on #1006
`view.is('singular')` for ultimate syntax sugar. Although away from WP conventions so probably not recommended :)

[2016-05-20 23:47] ypantig opened #1013 "Changing default twig directory causes issues with Customizer"
Hi,

I was playing around with Customizer and I found that the sections that I create for the Customizer gets hidden for some reason. Upon closer inspection (disabling plugins and commenting out some code), I was able to find that commenting out the line where I'm changing the default twig views directory to my own causes this. However, even if I have the `locations` setup as well, it's not pullin

[2016-05-21 04:27] TranQuangMinh opened #1014 "How to create and use Marco in twig timber ?"
How to create and use Marco in twig timber?

[2016-05-21 20:11] jarednova commented on #992
closed by #1003

[2016-05-21 20:11] #992 closed

[2016-05-22 23:45] kmturley opened #1017 "TimberImage resize working locally but not on amazon server"
### Expected behavior
I was expecting TimberImage to resize images on my amazon ec2 server as it does on my local machine

### Actual behavior
It is outputting the original image, for example:

    <img src="{{ post.thumbnail.src|resize(640, 360) }}" alt="" />

When outputted locally the result is:

    http://localhost:8888/new/wp-content/uploads/2016/05/abc-640x360-c-default.jpg

When running th

[2016-05-23 00:19] jarednova commented on #1014
Hi @TranQuangMinh: Macros should work as described in the Twig documentation, but let me know if you run into errors:

http://twig.sensiolabs.org/doc/templates.html#macros

[2016-05-23 00:19] #1014 closed

[2016-05-23 06:06] horch004 opened #1019 "GIF Image Resize"
### Expected behavior
A resized static GIF image with transparent background

### Actual behavior
A resized static GIF image with a black background

### Steps to reproduce behavior
`<img src="{{ post.thumbnail.src|resize(80) }}" />` where the thumbnail is a static GIF image with a transparent background.

### What version of WordPress, PHP and Timber are you using?
Latest WP, PHP 7 and latest Tim

[2016-05-23 14:00] jasonyarrington commented on #542
I know this has been closed, but I am running into the same issue after upgrading Timber.  What does your autoload_classmap.php look like after the upgrade.  Mine doesn't point at a cache folder, it points at AltoRouter

[code]

[2016-05-23 14:48] pascalmaddin commented on #1002
I was a problem with a weird apache configuration. Problem solved, thank you.

[2016-05-23 14:48] #1002 closed

[2016-05-23 16:08] JoaoSaleiro commented on #996
Hello,

instead of uploading the local installation of Timber to the server via FTP, I've used the wp-admin update procedure, and Timber is now working on v1.0.3 . So, this issue only happens if the Timber is uploaded from a working local installation to the production server via FTP.

[2016-05-23 18:20] Matt-Yorkley opened #1020 "Plugin updates bug"
Hi there, I've recently been having issues on a couple of Wordpress installations and have narrowed down the culprit to the Timber plugin.

The issue is that updating any plugins leads to the update hanging part way through. The plugins update successfully, but the UI doesn't finish and often leaves the annoying ".maintenance" file in the root (which temporarily puts the site into maintenance mode

[2016-05-23 18:58] gustavolanzas commented on #542
I no longer work at that company and don't have access to the latest source, but my last version, I had modified the /composer/autoload_classmap.php file, and it had an array of a bunch of locations in there. I modified the following:

`  'Timber\\Cache\\KeyGenerator' => $baseDir . '/lib/timberfiles/KeyGenerator.php',
    'Timber\\Cache\\TimberKeyGeneratorInterface' => $baseDir . '/lib/timberfiles

[2016-05-23 19:06] jasonyarrington commented on #542
I figured it out and your comment put me on the right path.

In the previous version the directory was timber-library/lib/Cache.

In the upgrade it went to timber-library/lib/cache.

Changing the folder to upper case fixed the problem.  Git doesn't pick up case changes to directories and files automatically.  I had to rename it twice to force the change on my server.

Thanks for getting back, like

[2016-05-23 19:36] gustavolanzas commented on #542
Excellent!

[2016-05-23 22:48] jarednova commented on #996
Hi Joao — I have a good hunch based on #542: basically there are some directories renamed from (for example) `cache` to `Cache`. Whereas your local is probably case insensitive (default on OSX) your production server probably _is_ case sensitive. Give that a look and see if you notice any diffs (look in the `lib` directory)

[2016-05-24 09:17] connorjburton commented on #979
If you go in your `functions.php` and remove the top conditional check to see if Timber exists and then try please?

[2016-05-24 12:40] bjornbjorn opened #1022 "After downloading from wp.org - activating plugin: Fatal error: Class 'Timber\Timber' in /wp-content/plugins/timber-library/init.php on line 5"
### Expected behavior

1. Downloading Timber from http://downloads.wordpress.org/plugin/timber-library.zip I expect to get the latest release
2. When clicking the "Activate" link for Timber in WP admin I expect the plugin to be activated.

### Actual behavior

A PHP error is thrown:

[code]

It seems the version you get when you download "timber-library.zip" to get the latest version from download

[2016-05-24 14:31] middle8media opened #1023 "Function to call WP Login Form."
Is there a function to call `wp_login_form( $args );`?

Something along the lines of `{{ function('get_search_form') }}`

[2016-05-24 14:42] connorjburton commented on #1023
There isn't anything built in IIRC but you can do `{{ function('wp_login_form', {object: args}) }}`

[2016-05-24 14:43] chrisgherbert commented on #979
Then I get a fatal error because the Timber class doesn't exist.

[2016-05-24 15:48] connorjburton commented on #979
Okay, that's because `init.php` hasn't run. You'll have to manually init `Timber`, best bet here is to do the following in your `functions.php` I reckon.

[code]

I would rather you not have to do that however, let me know if that works

[2016-05-24 16:45] aaemnnosttv commented on #979
Couldn't that initialization be included into a single method call?

Why not just something like
[code]
then in Timber class

[code]

That could probably be improved a bit also to make it more flexible

[code]

or maybe just set the default for that property in the declaration:

[code]

[2016-05-24 18:53] connorjburton commented on #979
The argument i'm having with myself is that with the new namespacing you shouldn't have to init Timber at all, as you can just use `use Timber\Timber` (in theory). The only reason you would have to do the above is if you are using composer/autoloading but not using the `use` command.

[2016-05-24 19:10] chrisgherbert commented on #979
Even with `use Timber\Timber` it fails pretty quickly.  I think the start theme needs a pretty comprehensive renovation to support namespacing.

[2016-05-24 20:16] connorjburton commented on #929
I have just checked on a site I have developed before that used routes and yoast seems to work (see http://www.annemillsrecruitment.co.uk/apply/small-business-accountant-birmingham/)

Any updates on your end?

[2016-05-24 20:26] connorjburton commented on #927
I have created a PR for this, if you guys could give it a test that'd be great. Thanks

[2016-05-25 21:01] jarednova commented on #942
Closed by #1024

[2016-05-25 21:01] #942 closed

[2016-05-26 02:24] jarednova commented on #927
@tremby @davidmaneuver #1026 is now merged in, please give it a look and confirm that this solves your issue and we can close this guy up!

[2016-05-26 10:10] connorjburton commented on #1022
One for you @jarednova ?

[2016-05-26 13:19] jeremyzahner commented on #217
@connorjburton Any news on this?

[2016-05-26 13:22] jarednova commented on #1022
Yeah I'll take a deep-dive

[2016-05-26 13:37] #1005 closed

[2016-05-26 17:15] tremby commented on #927
Works for me. With this change, instead of

[code]

I can now do

[code]

[2016-05-26 18:19] jarednova commented on #927
Great!

[2016-05-26 18:19] #927 closed

[2016-05-27 02:30] kmturley commented on #1017
I added some code to TimberImage.php to add a param to the image url depending on where it is served:

    if ( file_exists($new_server_path) ) {
        if ( $force ) {
            // Force operation - warning: will regenerate the image on every pageload, use for testing purposes only!
            unlink($new_server_path.'?force');
        } else {
            // return existing file (caching)

[2016-05-27 02:56] kmturley commented on #1017
I added the following debugging code to Resize.php

    if ( !is_wp_error($image) ) {
        $crop = self::get_target_sizes($load_filename);
        $image->crop($crop['x'],
                        $crop['y'],
                        $crop['src_w'],
                        $crop['src_h'],
                        $crop['target_w'],
                        $crop['target_h']
        );
        $resu

[2016-05-27 08:26] connorjburton commented on #1017
Ah, okay thanks for this, I was just modifying those methods the other day, we do do a check for Imagick but not `php-gd`

I will re-open and assign to 1.0.4 to add an error when php-gd isn't found

Thanks for investigating!

[2016-05-27 14:34] jarednova commented on #1017
Yeah thanks for posting the solution @kmturley!

[2016-05-27 14:39] jlundwebservices opened #1031 "Please Update Your Docs"
I am using your plugin because all I needed was simple routing to static page templates. I have since found that your plugin is more than capable of doing this. However, I spun my metaphorical wheels for 4 hours because your documents are incorrect. You do not mention, nor reference, the depreciation of the Timber::load_template() function. Nor do you reference that this function, and even more ro

[2016-05-27 15:10] connorjburton commented on #1031
Jared has sorted the routes one now, however it is on my list to manage the docs update better. We are pushing out lots of updates but documentation is slipping.

It's on the radar.

[2016-05-27 15:16] jarednova commented on #598
@oxyc @leefroese — we have a solution to this in #1027 that's now in `master`: can you confirm that this solves your issue? (h/t @connorjburton)

[2016-05-27 15:32] leefroese commented on #598
@jarednova yes issue is solved for me, thanks!

[2016-05-27 15:32] #598 closed

[2016-05-27 19:44] kmturley commented on #1017
no problem!

[2016-05-27 20:22] wesm87 commented on #1023
You could also use [`TimberHelper::function_wrapper()`](https://github.com/timber/timber/wiki/WP-Integration#functions) to create a custom Twig function to handle this for you.

[2016-05-28 21:47] swthate opened #1033 "Q: Can I wrap my loop around multiple blocks?"
I have a view I'm working on which has `header` and `content` blocks that extend `base.twig`. The header block has some content in it that changes depending on the view. Some pages have big hero elements, some just a simple text header. The hero elements have a number of ACF fields. The content block is for everything else.

Can I wrap `{% for post in posts %}` around both my header and content bl

[2016-05-30 06:17] swthate commented on #993
So I was going absolutely batty for about two hours trying to get a repeater inside a relationship working. I visited this page and a number of others multiple times. Finally got something to work based on @cheestudio 's code above. Here's my "adaptation":

[code]

Using this I finally got my repeater list to work inside my relationship!

However, you'll notice I do have `set areas = TimberPost(ar

[2016-05-31 08:06] bjornbjorn commented on #1022
Hi, just some additional info .. when pushing this site to the staging server just now I got the same "Class not found Timber\Timber in init.php" error.

I fixed it by adding this to the top in init.php:

[code]

Not sure if this is related to the original issue as I got that error also on my local install but thought I'd add some more context. Might it have something to do with my directory struc

[2016-05-31 08:08] connorjburton commented on #993
Can you do `{{ dump(areas) }}` (before the set command) and post a gist of what that returns? Thanks

[2016-05-31 08:18] #1031 closed

[2016-05-31 08:18] #1023 closed

[2016-05-31 13:27] minthemiddle opened #1034 "How to debug whitescreen of death?"
One of my templates stopped working from one second to the other and instead I get a blank site, sometimes a 500 error. There is nothing that would give me a hint about what goes wrong - debug bar and it's Timber extension don't work either because nothing gets loaded.

How can I debug such a situation?

[2016-05-31 13:45] connorjburton commented on #1034
Have you got WP_DEBUG turned on? And have you checked apache/error logs (for the 500 error)?

[2016-05-31 13:57] minthemiddle commented on #1034
Thanks for the advice. It was more of a general question. Because luckily I have an up-to-date multi dev env and could just pull in the staging database to get back to work. I have no clue what caused the error, but I will note that 500 should be in `WP_DEBUG` log.

[2016-05-31 13:57] #1034 closed

[2016-05-31 17:53] jarednova opened #1035 "Document documentation gaps"
As reported in #1031 — the docs are out of sync between the code, wiki, [generated docs](http://timber.github.io/timber/), [website](http://upstatement.com/timber). Let's get these back together

For this ticket, we want to **document** the gaps. Once documented we can better determine what should be updated? how? and whether certain docs should be sunsetted.

On this ticket, please go through eac

[2016-05-31 18:04] jarednova commented on #1019
@lggorman — can you take a look at this one?

[2016-05-31 18:38] simonmilz commented on #470
I can reproduce the issue as well:

`$context['locations'] = \Timber::get_terms('location' , array(
            'hide_empty' => true
        ));`

don't work for me.

[2016-05-31 18:46] simonmilz commented on #470
Sorry, my fault. The count value of my term was not up to date.

[2016-06-01 01:12] jarednova commented on #568
@connorjburton has patched this in #1028. @haroldangenent: are you able to confirm this by trying out the current `master` in your project?

[2016-06-01 05:50] chieh301 opened #1039 "MATERIAL DESIGN LITE - Uncaught TypeError"
I install  timber  and  use material design lite as framework.
When add class ''mdl-js-layout " to div.
throw error  "Uncaught TypeError: Cannot read property 'addEventListener' "
I know this is because mdl executes before the DOM fully loads, But I don't know how to fix it.
can anyone help?
Thanks~

[2016-06-01 08:11] connorjburton commented on #1039
Timber shouldn't effect this at all, it loads a page as every other web page loads a page. Looks like the JS is trying to attach an event to an element that doesn't exist.

I would try MDL on another theme without Timber and see if you get the same error.

[2016-06-01 08:12] connorjburton commented on #1035
I think we should change the WIKI to just redirect/provide links to the github pages docs. It's really confusing having 2 different set of documentation.

[2016-06-01 09:14] chieh301 commented on #1039
When i use xxx.php  MDL works fine.but if xxx.twig get error.....

[2016-06-01 13:35] stewarty commented on #991
No luck I'm afraid.

Fatal error: Uncaught Error: Call to undefined function Timber\is_admin() in /vagrant/vendor/timber/timber/lib/Timber.php:63 Stack trace: #0 /vagrant/vendor/timber/timber/lib/Timber.php(51): Timber\Timber->test_compatibility() #1 /vagrant/vendor/timber/timber/init.php(5): Timber\Timber->__construct() #2 /vagrant/vendor/composer/autoload_real.php(54): require('/vagrant/vendor..

[2016-06-01 13:41] jarednova commented on #991
@stewarty — where are you calling autoloader.php? I want to try to re-create your setup locally to see if I can get the same error

[2016-06-01 14:13] stewarty commented on #991
@jarednova I can send you the project as it is if you'd like?

[2016-06-01 15:01] jarednova commented on #991
@stewarty that'd be awesome! jared@upstatement.com

[2016-06-01 15:27] haroldangenent commented on #568
@connorjburton @jarednova Thanks! Couldn't test really thorough, because most Multisite projects and starters themes are broken under 1.0 (congratulations on 1.0 by the way!), because of namespacing.

After some superficial fixing, it does seem to work properly. I would recommend using `home_url()` over `get_bloginfo()`, since `get_bloginfo('url')` just calls `home_url()`. `home_url()` is a bit mo

[2016-06-01 15:31] connorjburton commented on #568
@haroldangenent Thanks for the response. What is broken by `1.0.0`? It should be backwards compatible with previous versions, unless deprecated functions were used.

[2016-06-01 18:45] lggorman commented on #1019
@horch004 Any chance you could check which php image manipulation library you're using by default (ImageMagick vs GD)? I was only able to replicate this bug by switching my default to the GD library, and a [this ticket] (https://core.trac.wordpress.org/ticket/13461) seems to be addressing the same sort of problem with GD.  Though that wouldn't explain why `run_animated_gif` seemed to do the trick,

[2016-06-02 03:53] mrgrain commented on #979
I would argue it is your responsibility as a theme builder to initialize Timber properly. I mean Timber is (now) supposed to be a library rather than a "working thing". Initialisation is quite common. One way to simplify this process, is to provide a `init.php` file which a theme might **choose** to include or not.

[2016-06-02 04:05] chrisgherbert commented on #979
Fair enough, but the boilerplate Timber theme should probably provide that init.

[2016-06-02 04:12] mrgrain commented on #979
Sure, it probably should. Are we talking about the [starter-theme](https://github.com/timber/starter-theme)? This is _technically_  speaking still based on [Timber 0.22](https://github.com/timber/starter-theme/blob/master/composer.json#L27), so I reckon it needs a major revamp anyway.

For Timber, it seems to be more an documentation issue.

[2016-06-02 05:01] mrgrain commented on #1013
Hey @ypantig We are using the customizer here successfully. Could you provide us with your code to create the customizer sections? I'll try to replicate.

[2016-06-02 05:59] horch004 commented on #1019
@lggorman ImageMagick and GD are both installed. With a phpinfo plugin I see them both configured. When I search Google about Wordpress using ImageMagick instead of GD it seems Wordpress uses GD by default(?).

[2016-06-02 07:36] commercial-hippie opened #1043 "Image resizing uppercase file extensions"
When resizing files that have uppercase extensions I'm running into an issue.

[code]
As you can see above, the final link goes to the wrong image and turns into a 404.

#### Steps to reproduce behavior

Import a image with a uppercase extension.  You can't just upload a image because Wordpress converts it to a lowercase extension.  (I imported all my posts, images from a ExpressionEngine install)

[2016-06-02 09:15] haroldangenent commented on #568
@connorjburton I wrongly assumed that you broke backwards compat when implementing PSR-4 type namespacing. Dug a little deeper. Figured out that the origin of the problem was that I loaded through Packagist via autoloading (`timber/timber`), when loading via `wpackagist/timber-library` before.

This caused a fatal error, because all Composer dependencies are loaded before WP loads (Bedrock-type se

[2016-06-02 11:48] ogrosko commented on #899
Any news about this?

[2016-06-02 12:11] connorjburton commented on #899
Not yet unfortunately, working through a backlog of post `1.0.0` fixes at the moment.

[2016-06-02 13:31] swthate opened #1046 "Q: get_terms mysteriously returns absolutely nothing"
### Expected behavior
Return taxonomy data so I can do something like `{{department.name}}`.

### Actual behavior
Nothing gets returned. Nothing can be dumped.
It certainly appears, to me, like I've done everything I need to do. I can confirm that in the admin area the taxonomy is there and is being used by my team post type.

### Steps to reproduce behavior
Here's a gist with my archive PHP and T

[2016-06-02 13:34] connorjburton commented on #1046
Would http://timber.github.io/timber/#terms work?

[2016-06-02 13:36] swthate commented on #993
Here you are: https://gist.github.com/swthate/f4de9c5ad6dfc772362efbe9df22b054

Sorry, was distracted for a few days!

[2016-06-02 13:48] swthate commented on #1046
I did come across that, but to be completely honest, it doesn't make much sense to me 😕

That's for usage in a .twig tempalte file, right? Would its usage look like this?

[code]

I'm guessing not, since when I do that it complains a lot:

[code]

I am loving Timber a lot, but obviously am still having a hard time wrapping my head around some key concepts. Thanks for all the help you guys have bee

[2016-06-02 14:05] connorjburton commented on #1046
I don't really use terms to be honest, see what this returns:

`{{ dump(department.terms()) }}`

Reporting bugs/issues and promoting Timber is good enough donation for us 👍

[2016-06-02 14:09] lggorman commented on #1019
@horch004 Definitely seems that was the case before 3.5 now, though I think it should look for Imagick first [in the latest](https://make.wordpress.org/core/2012/12/06/wp_image_editor-is-incoming/).  If it's not the default you should be able to set it in `functions.php` with something along these lines:
[code]
That said, it might still be worthwhile for us to make a code edit to make sure Imagick

[2016-06-02 14:26] swthate commented on #1046
Still nothing :(

Well, I wonder, if this is even the right scenario to be using a taxonomy. It might be, but I wonder if there's a different way to go about this. Maybe I can get your opinion on this, which would be interesting since you said you don't use taxonomies (terms and taxonomies are interchangeable? or are you refering to something else) all that often.

So if you take a look here http:

[2016-06-02 14:38] connorjburton commented on #1046
Ah, taxonomy is correct here.

Try ` {{ dump(post.terms('department')) }}`

[2016-06-02 14:44] lggorman commented on #1035
I’d tend to agree.  There are a number of places where the wiki’s gotten ahead of the docs or vice versa, and it’d be simpler to maintain a single source of truth.  A few source specific notes:

- Wiki:
    - The getting started guides and video tutorial both reference cloning the repo into the plugins dir,     instead of installing directly in the theme via composer.
    - In general the object r

[2016-06-02 15:19] swthate commented on #1046
Had to switch over to my pc, everything web related is on my mac... I'll try that out later today and get back to you.

[2016-06-02 15:29] lggorman commented on #1035
Also -- I think that the generated docs would be easier to use with a few styling edits (ex. making the h4's bigger, adding more spacing around the code blocks).  A few examples of some really pretty slate docs:
- http://mozilla.github.io/localForage/
- https://clearbit.com/docs
- https://developers.coinbase.com/api/v2

[2016-06-02 15:38] cheestudio commented on #993
@swthate Are you sure you are running Timber 1.0? I only experienced what you experience on older versions of Timber. Once I upgraded, using set to initialize the TimberPost was not necessary as long as I was returning the Post Object.

[2016-06-02 15:45] connorjburton commented on #993
Good point @cheestudio - it will most likely be your version is out of date. The auto converter was released in `1.0.0` I believe.

[2016-06-02 19:16] connorjburton commented on #1017
Hi @kmturley - could you double check that nothing was showing in your wp-content/debug.log? Or your php errors log. Something should have been in there regarding this, all I can really do is to change the error message.

[2016-06-02 19:22] connorjburton commented on #929
Going to close this for now as I can not replicate.

[2016-06-02 19:22] #929 closed

[2016-06-02 19:40] connorjburton commented on #386
@jarednova @ste93cry - i was going to go ahead and start on this but need some clarification, should we be searching over the current posts terms, which is what I would assume, and if so should we be giving the options to search by term id, slug, name or term_taxonomy_id. Replicating `get_term_by`?

[2016-06-02 19:50] ste93cry commented on #386
I would expect the function to work as the WordPress [one](https://codex.wordpress.org/Function_Reference/get_term), but returning a TimberTerm object instead

[2016-06-02 19:52] kmturley commented on #1017
This is the error message from wp-content/debug.log looks ok:

    [22-May-2016 23:32:25 UTC] PHP Fatal error:  Class 'Timber\Cache\KeyGenerator' not found in /var/www/html/milou/new/wp-content/plugins/timber-library/lib/Loader.php on line 328
    [22-May-2016 23:33:22 UTC] WP_Error Object (
        [errors] => Array
            (
                [image_no_editor] => Array
                    (

[2016-06-02 20:04] connorjburton commented on #1017
Okay sure, I have added a better error message for this now. Any documentation changes I would highly appreciate you adding to this issue https://github.com/timber/timber/issues/1035 👍

Thanks!

[2016-06-02 20:18] connorjburton commented on #991
Moving this to #979 as they are the same issue.

[2016-06-02 20:18] #991 closed

[2016-06-02 20:20] connorjburton commented on #568
Gotcha.

Best place to init Timber would probably be in theme `functions.php` if you wanted your theme to init Timber. This is still in progress, see #1041

New namespaces are preferred yes, keeps everything much cleaner, they are backwards compatible though.

[2016-06-02 20:51] kmturley commented on #1035
Some other documentation items which could've saved me time:

- when experiencing issues with Timber point users to the logging in wp-content/debug.log
- explain the dependancies required to use TimberImage e.g. php-gd library
- explain the behaviour of TimberImage falling back to the original image if the editor library does not exist

[2016-06-02 22:12] swthate commented on #993
I'm using 1.0.3 😕

[2016-06-02 22:18] swthate commented on #1046
[code]

Returns the following: https://gist.github.com/swthate/bcf0db82741fa434a349143eb4954d59

[2016-06-02 22:23] ypantig commented on #1013
Yes of course. Here's the code the I have on my customizer class:

`<?php

namespace YP\Theme;

class Customizer
{

  public function __construct()
  {

    add_action( 'customize_register', array( &$this, 'customize_register__addSettings' ) );
    // add_action( 'customize_register', array( &$this, 'customize_register__addSections' ) );
    // add_action( 'customize_register', array( &$this, 'cus

[2016-06-02 22:32] swthate commented on #1046
Little bit of an update:

[code]

This successfully returns stuff. However, it very oddly returns the following:

Roofing Foremen
Gutter Foremen
Window Foremen
Window Foremen
Window Foremen
Window Foremen
Siding Foremen
Siding Foremen
Siding Foremen
Siding Foremen

I expected it to loop through each term and return this:

Door Foremen
Gutter Foremen
Leadership
Roofing Foremen
Siding Foremen
The Sa

[2016-06-02 22:55] middle8media commented on #279
Can someone can help me with this? I am trying to access a repeater inside a repeater inside a repeater

[code]

![image](https://cloud.githubusercontent.com/assets/1033332/15763564/c44f0782-28f2-11e6-924d-b8d58bed63a7.png)

`{{ item_inner }}` does not display.

Any suggestions? Thanks

[2016-06-02 22:58] commercial-hippie commented on #1043
Such a quick update! Thanks for looking into it so quickly, really appreciate is! Great plugin :smile:

[2016-06-02 22:58] #1043 closed

[2016-06-02 23:14] jarednova commented on #687
Thanks @andrejcremoznik @connorjburton @kevin-coyle @danielbachhuber @hurrycaner — this is now closed in #1047

[2016-06-02 23:14] #687 closed

[2016-06-03 01:52] jarednova commented on #1043
Thanks @commercial-hippie! @connorjburton submitted a PR that I just merged. Look for a release to WP.org early next week!

[2016-06-03 07:19] horch004 commented on #1019
@lggorman Thanks for looking into the issue. I solved the issue by installing an WP Imagick plugin and regenerating all thumbnails.

[2016-06-03 08:06] connorjburton commented on #993
Can you make sure that on

functions.php line 1163

You have a function called `convert`. If so you can try do an `exit('hi')` on line 1171 and see if it's actually trying to convert the objects.

[2016-06-03 08:22] connorjburton commented on #1046
Hmm, yes not sure to be honest without jumping into the code myself. My guilty pleasure is using ACF for a lot of relationships like this...

If you think `.terms` isn't returning what it should be and you can put a detailed comment together about what you expect vs what it's returning I'll have a look at fixing it.

Cheers

[2016-06-03 08:29] connorjburton commented on #279
Can you try this please? Or something of this variation will work

[code]

[2016-06-03 08:30] connorjburton commented on #1019
I have added better errors in #1030

[2016-06-03 08:30] #1019 closed

[2016-06-03 13:26] swthate commented on #993
Hmm, which functions.php exactly?

I don't see anything like that in my theme's functions.php (it must not be that functions.php you're talking about, because I have nowhere near 1,000 lines hehe), I tried looking for a functions file in the plugin directory but found nothing, and I can't find a function convert() anywhere in the core functions.php file.

[2016-06-03 13:29] swthate commented on #1046
Thanks @connorjburton

I think what I'll do is try to get an ACF alternative working (it does just feel weird to have most of the site powered by ACF except this one tiny area) and maybe submit a more detailed comment about what's going on with the taxonomy. If I can get ACF to work for me, though, that detailed comment would be on the back burner for a rainy day, if you ever got reeeal bored :)

[2016-06-03 13:55] connorjburton commented on #993
Sorry, have no idea why I wrote functions.php, was probably multi-tasking. I meant `vendor/timber/timber/lib/Post.php`

[2016-06-03 14:08] swthate commented on #993
I did find a public function, but it wasn't on line 1163.

Starting on line 1105 I have this:

[code]

I'm not sure where to put `exit('hi')` here.

[2016-06-03 15:34] connorjburton commented on #993
Put it here

[code]

[2016-06-03 15:34] #993 closed

[2016-06-04 15:46] swthate commented on #1046
Okay, I apologize.

I never even thought to add some arguments to my get posts context. Change posts_per_page, change the other, and there they all are! 😵

I do think I will come up with an ACF solution still though.

[2016-06-06 07:12] davidmaneuver opened #1053 "Proposal: Instantiate custom classes through config"
I'm having a bit of trouble using the custom post classes as described [here](http://timber.github.io/timber/#extending-objects).

The problem is that upon doing `Timber::get_post()` or `Timber::get_posts()` the post type is not always clear yet. I have now implemented a workaround that'll do the trick.

My proposal is to tell Timber about the custom classes in advance. So whenever you retrieve po

[2016-06-06 09:55] connorjburton commented on #1053
Yes this something that @jarednova has mentioned a couple of times to me. Will work on this soon, but it will probably come with a host of other changes to how Timber itself is initialised. So we may be looking at `1.1.0`

[2016-06-06 09:55] #837 closed

[2016-06-06 09:56] #1017 closed

[2016-06-06 10:01] davidmaneuver commented on #1053
Cool. Thanks. Looking forward to it.

Let me know if I can help in any way.

[2016-06-06 10:40] #1046 closed

[2016-06-06 12:16] connorjburton commented on #996
Any updates on this @JoaoSaleiro

[2016-06-06 12:17] #764 closed

[2016-06-06 12:17] connorjburton commented on #690
Closing in favour of #1035

[2016-06-06 12:17] #690 closed

[2016-06-06 21:13] mrgrain commented on #1013
Hmm thanks for that. Just letting you now I'm still trying to reproduce the issue. =/

[2016-06-06 22:42] jarednova commented on #1022
@bjornbjorn: thanks so much for this info. I was able to recreate the problem and encounter your issue.

It looks like there was an SVN problem with files that were checked into trunk (but for some reason not downloading). I nuked everything and started fresh. After everything was (re)checked into SVN; I ran through the steps and it works!

[2016-06-07 07:00] bjornbjorn commented on #1022
Did a fresh install of latest WP/timber-library.zip and can confirm it works now. Thanks a lot for the fix! :-)

[2016-06-07 07:00] #1022 closed

[2016-06-07 14:23] steinbergh opened #1054 "Error with TIMBER_LOADED constant being defined twice"
### Actual behavior

I have been seeing this error immediately after updating Timber through composer ```Notice: Constant TIMBER_LOADED already defined in path/to/theme/vendor/timber/timber/lib/Timber.php on line 56```

which is then fixed by commenting out ```define('TIMBER_LOADED', true);``` on line 102 of Timber.php

### What version of WordPress, PHP and Timber are you using?

timber version:

[2016-06-07 18:49] connorjburton commented on #1054
This seems an odd error, could you please post a gist of your `Timber.php` file? All `define`s should be wrapper in `if(defined())`

[2016-06-08 00:46] mrgrain commented on #979
hey @jarednova Could we please move the fix for this forward ASAP and release version 1.0.4? I think it makes a pretty bad impression if the preferred way of using/installing timber is completely broken.

However, it might be faster/easier/safer to exclude all the other changes and only release the fix. Let me know if I can help you with that in any way.

[2016-06-08 04:15] jarednova commented on #386
Closed in #1049

[2016-06-08 04:15] #386 closed

[2016-06-08 04:19] jarednova commented on #979
@mrgrain thanks for the bug on this. I already pushed v1.0.4, but there's nothing stopping us from still prioritizing this and pushing as soon as it's ready given the importance of the issue.

So that I can fully understand: does #1041 close this comprehensively? Or would there be any other other parts of the issues described that would need a separate PR?

[2016-06-08 04:20] jarednova commented on #1054
@connorjburton @steinbergh I think this is fixed in d4555ce9f912e8a0025c270a31d43eda0539f8bc. @steinbergh: can you confirm by updating to 1.0.4 or syncing with this commit?

[2016-06-08 09:26] mrgrain commented on #979
Hey @jarednova Thank you very much :bouquet: :smile: As mentioned elsewhere the additional check for WordPress in 1.0.4 is good enough to take out the pressure. We can move forward with 1.1.0 faster, but now we don't have to.
Yes, I think #1041 solves the composer use case comprehensively, but I might add a regression test for it over the weekend. However, in all honesty, I don't know Timber well

[2016-06-08 09:42] mrgrain commented on #979
@gridsystem No, it's unfortunately not documented anywhere right now. However in #835 the decision was made to position Timber as _a library_ rather than a plugin. (Since I was one of the advocates of this, shame on me for not updating the documentation!). That means, it's recommended that a theme bundles the Timber library, rather than relying on an installed plugin.

As a theme developer it woul

[2016-06-08 09:49] connorjburton commented on #979
Yes, I think `1.0.4` should resolve any immediate headaches, at least it's possible to require Timber from the root without it throwing a fatal error now, it is however not perfect and I should have considered requiring Timber from a location where WP is not yet active.

`1.1.0` will bring more sanity to this, I have a few ideas for `1.1.0` such as config setup (#1053) that is going to bring the w

[2016-06-08 09:57] gridsystem commented on #979
@mrgrain thanks for that! So remove the wp-packagist reference from composer.json, include it as a standard php lib, and crack on.

The only question I have is how do I then init timber from within my theme, which is what you have been discussing previously.

I have in functions.php

    $loader = include($_SERVER['DOCUMENT_ROOT'] . '/../vendor/autoload.php');
    Theme\Bootstrap::init();

Then bo

[2016-06-08 10:05] connorjburton commented on #979
Whoops, that is a bug. It will try and auto-init, which is what it's attempting. I'll fix that

You can init Timber by doing `new Timber\Timber();` (assuming you don't have namespacing, which you do so `new Timber();` should work)

You can see an example here

https://github.com/timber/timber/blob/master/init.php

[2016-06-08 10:07] gridsystem commented on #979
Boom. Got it. Thanks!

[2016-06-08 10:12] gridsystem commented on #979
I have to say - I'm really happy with the direction you're taking with Timber. You're making WordPress quite enjoyable to work with.

[2016-06-08 11:46] haroldangenent opened #1056 "WP_CONTENT_SUBDIR is wrong (causing `get_rel_path` to return an URL)"
### Expected behavior

`WP_CONTENT_SUBDIR` should be `/app`.
### Actual behavior

`WP_CONTENT_SUBDIR` was defined as an URL: `http://www.example.com/app` on subdirectory installs (Multisite).
### Steps to reproduce behavior
1. Place `wp-content/` contents in another folder (for example, when [Giving WordPress Its Own Directory](https://codex.wordpress.org/Giving_WordPress_Its_Own_Directory))
2. Cr

[2016-06-08 11:55] connorjburton commented on #1056
Thanks for this, will investigate.

[2016-06-08 13:47] jerome-quere opened #1057 "Cannot access private property Timber\Post::$_type"
Wordpress: 4.5.2
PHP: 5.6
Timber: 1.0.4

![image](https://cloud.githubusercontent.com/assets/526046/15896234/af6b59dc-2d8f-11e6-9166-a5d7d7da9d5a.png)

When Core::import is called with $info containing a field `_type` PHP throw an error because `Post::_type` is marked private since 0d218854642d243b8121843e78e51aba4dd645f4

[2016-06-08 14:17] haroldangenent opened #1058 "Timber initializing too early"
### Expected behavior

Timber to initialize after all plugins or mu-plugins are able to hook into WordPress functions.

**This bug is specific for `timber-library` (WP plugin), since initialization for `timber/timber` will have be done by the theme developer.**
### Actual behavior

Timber initializes before this happens (at inclusion). This is especially a problem in Multisite, because network plu

[2016-06-08 14:50] haroldangenent commented on #1056
This might be fixed when using `untrailingslashit(network_home_url())` instead of `home_url()` on Multisite, since uploads are served from the main website on subdirectory installs. However, `sideload_image` returns a relative path when the file exists. So the output is different the first time a file is sideloaded (you'll get a full URL). Returning a relative path works poorly on Multisite, since

[2016-06-08 21:47] hbrok opened #1059 "Timber Debug Bar doesn't show which php file a template is called from after 1.0.4 upgrade"
### Expected behavior

Before 1.0.4 upgrade Timber Debug Bar showed which php file the twig template was called from:
![image](https://cloud.githubusercontent.com/assets/7627005/15911771/cd042940-2d96-11e6-9d78-0dcc07fe5289.png)

### Actual behavior

After upgrading to 1.0.4 this part is missing:
![image](https://cloud.githubusercontent.com/assets/7627005/15911975/9bdb8628-2d97-11e6-83f4-077af840d

[2016-06-09 12:13] connorjburton commented on #523
I am not sure I agree with a filter returning something that is then accessible, a filter is just supposed to manipulate the data, not return anything.

Either way, I don't think we would be changing this at this point as it may cause backward compatibility issues.

[2016-06-09 12:13] #523 closed

[2016-06-09 12:15] connorjburton commented on #771
Moved to #1035

[2016-06-09 12:15] #771 closed

[2016-06-09 12:16] connorjburton commented on #967
Any updates on this @CelticParser?

[2016-06-09 15:20] steinbergh commented on #1054
@connorjburtonI can confirm this is fixed, thank you so much for your responsiveness!

[2016-06-09 15:20] #1054 closed

[2016-06-10 09:07] kala725 opened #1062 "Making Timber Wordpress VIP Compatible"
I am willing to use timber as my templating engine for my wordpress VIP-GO site, but I can't find timber in the supportive plugin list.

Is timber Wordpress VIP Compatible? What are the reasons, that you haven't submitted to wordpress VIP platform, Are there any obstacles ?

If you can guide me for the same, I will submit a patch to them.

[2016-06-10 12:28] connorjburton commented on #1062
One for you @jarednova

[2016-06-13 13:15] jarednova commented on #1062
Hi @kala725 — I'm afraid this is would be a better question for the WordPress VIP team. I'd love to get it 100% VIP compatible, but I'm unsure what changes would be necessary. I know there's [another project](https://github.com/xwp/wp-vip-twig) with this specific aim. But based on the docs, it's _also_ not approved (at one point I heard that going through Twig to verify that the Twig library was V

[2016-06-14 00:46] hainakus opened #1063 "Why use Angularjs/JSON API in Wordpress if we have Timber/JSON API"
Hi,

i am using Timber and Json API for an expected wedding portal. My question is what are the draw backs of choosing MVC Timber with JSON API than Angularjs, expecting plenty of visitors...

Regards.

[2016-06-14 12:57] littlbr commented on #1023
I'm trying to use TimberHelper::function_wrapper() to build a custom login form and I'm failing.

when calling {{ login_form }} in my view, the form is built, but the arguments are ignored. Any idea?

`$login_args = array(
	'echo'           => true,
	'redirect'       => home_url( '/wp-admin/' ),
	'form_id'        => 'loginform',
	'label_username' => __( 'Username' ),
	'label_password' => __( 'Pass

[2016-06-14 13:17] orest22 opened #1064 "Twig parsing error with WPML"
I know guys that it could be not your business but maybe you can help somehow. I just don't like WPML at all.
Thanks in advance!
### Expected behavior

Get image url
### Actual behavior

When trying to use `{{ Image(post.get_field('field_name')).src('tile-l') }}`
Returns Fatal error :

[code]
### Steps to reproduce behavior

Install:
1. WPML Multilingual CMS 3.4.0;
2. WPML Translation Management 2

[2016-06-14 13:46] littlbr opened #1065 "Proper way to use TimberHelper::function_wrapper"
I'm trying to use `TimberHelper::function_wrapper()` to build a custom login form `wp_login_form()` and I'm failing.

when calling `{{ login_form }}` in my view, the form is built, but the arguments are ignored. Any idea?

[code]

[2016-06-14 20:00] vincentGustav opened #1066 "Shortcodes not rendering in WYSIWYG fields within an ACF flexible content field"
**UPDATE**

Please close this ticket as the issue was not caused by twig. The shortcode was being rendered, however, the theme had a duplicate script which caused the form to be hidden via js.

**The Problem:**

I have several templates that are using ACF's flexible content fields. One content field contains a WYSIWYG sub field. I am adding a gravity forms shortcode to this WYSIWYG field and I wou

[2016-06-14 20:53] connorjburton commented on #1065
Try calling `{{ wp_login_form }}`, the docs are wrong unfortunately, you don't assign a function wrapper to the context, it add it's self to twig, so assigning to `$context['login_form']` doesn't actually do anything.

[2016-06-14 20:57] connorjburton commented on #1063
Hm, sorry if I misunderstood the question. Angular is used for more single page applications or larger apps with lots of two way data binding. Timber is completely different and is a static templating language. It really depends on what you are building and what it requires.

Timber would be a much simpler approach and easier to scale. What are your concerns with the project and what re you trying

[2016-06-14 22:31] mrgrain commented on #1063
Look up Serverside vs Client side application. That's the difference and the "drawbacks" for each way.

However using timber to query the JSON API seems a bit odd to me as you'll have to run through the wordpress stack to get the timber HTML and than again to get the contents.

[2016-06-15 11:27] hainakus commented on #1063
Hi,

in order to clarify. i am using simple functions to call the objects through API like for basic example Posts, In the controller single.php i call the API funtion and them in the view call the post object and loop it or do something else with it. I am thinking should be a quicker way than using angular.

I know the client side vs server side drawbacks but i am interested in a quicker away to

[2016-06-15 11:42] connorjburton commented on #1063
If you are just concerned with using Wordpress as an API, ditch Timber and use WP Rest API instead, that'll hook up nicely with Angular.

I don't really know why you'd want to bypass wordpress to grab posts, otherwise why not just ditch wordpress all together?

Loading times should be quick due to Twig's caching anyway.

[2016-06-15 12:03] hainakus commented on #1063
Hi Connor,

the project is depending also on woocommerce yith vendors and other shunks of plugin codes. So why not use API and Timber?
In your opinion as far i understood you say to use them separated. So you don't see it feasable?

[2016-06-15 12:15] connorjburton commented on #1063
In that case you'd just use Timber as described in the docs, with the standard `Timber::get_posts` function calls etc and using the php files as your controller.

I'm not sure what you mean by API

[2016-06-15 12:49] hainakus commented on #1063
API is the WP Rest Api or JSON API plugins.

[2016-06-15 17:20] alenabdula commented on #1063
@hainakus

If you need to sprinkle some JavaScript in your templates that query WordPress API, I suggest using VueJS instead of Angular). It's lighter and faster two way data binding.

Here are some free resources for VueJS

- [VueCasts](https://laracasts.com/series/learning-vue-step-by-step)
- [FullStack Radio interview with created Evan You](http://www.fullstackradio.com/30)

You can look at my

[2016-06-16 01:32] ypantig commented on #1013
Sorry, I just saw your comment. That's weird. I'll test that one out again and let you know as soon as I can.

[2016-06-16 02:39] #1062 closed

[2016-06-16 02:43] jarednova opened #1070 "Legacy {{ post.type }} can cause unexpected behavior"
### Expected behavior
If you had a custom field with `{{post.type}}` it should work as it did in 1.0.3

### Actual behavior
You get the data from the `Timber\PostType` object

As suggested in #1003 — this is a breaking change that should be rectified in the `1.0.*` version and resolved in `1.*`

[2016-06-16 13:02] andrzejpiotrowski commented on #996
@jarednova solution fixed issue. Git lost the directory name change leaving it all lowercase.

[2016-06-16 17:07] Matt-Yorkley commented on #1020
Update; there's a notice produced using Wordpress Debug Bar:

"NOTICE: wp-content/plugins/timber-library/lib/Admin.php:49 - Trying to get property of non-object
WP_List_Table->display, WP_List_Table->display_rows_or_placeholder, WP_Plugins_List_Table->display_rows, WP_Plugins_List_Table->single_row, do_action('after_plugin_row_timber-library/timber.php'), call_user_func_array, wp_plugin_update_row

[2016-06-16 17:12] Matt-Yorkley commented on #1020
Actually 2 notices, the second references line 61 as well:

"NOTICE: wp-content/plugins/timber-library/lib/Admin.php:61 - Trying to get property of non-object
WP_List_Table->display, WP_List_Table->display_rows_or_placeholder, WP_Plugins_List_Table->display_rows, WP_Plugins_List_Table->single_row, do_action('after_plugin_row_timber-library/timber.php'), call_user_func_array, wp_plugin_update_row,

[2016-06-16 22:14] hainakus commented on #1063
Hi Alen,

building a wedding website in order to client (wedding supliers and wedding brides) to join. Will have a marketplace (woocommerce built in) and Vendors.

Dashboard for both client roles. And some special features like vendor-client private messaging.

Video library uploaded by clients and blog, etc.

Hope i could explain. Also thanks for sharing your knowledge.

Regards

[2016-06-17 13:59] jusstinas opened #1072 "Multilevel menu"
Hi there,
WP supports multilevel menu with no limits by default - child item might have other child and etc. Is it any timber/twig extension or helper, which helps to loop all menu levels and build menu structure as it is created  by user?

[2016-06-17 18:46] connorjburton commented on #1072
You take a look at the timber starter theme for an example. github.com/timber/starter-theme

[2016-06-17 18:46] #1072 closed

[2016-06-20 14:38] streetyingyang opened #1073 "User password hash from DB exposed in [user] object"
### Expected behavior
Wasn't expecting to see my hashed password in an object available publicly.

### Actual behavior
In  [user] => Timber\User Object, the user_pass for my user is available.

### Steps to reproduce behavior
Login, display user_pass in twig template. Available for entire session.

{{ user.user_pass }}

### What version of WordPress, PHP and Timber are you using?
PHP 5.5.35 - MySQ

[2016-06-20 14:59] jesouhaite08 opened #1074 "post.field_name now returns array instead of field"
### Expected behavior

post.field_name should return most recent field value.
### Actual behavior

post.field_name now returns an array of data when there have been more than one revisions to a page. if i change this to post.get_field('field_name') it correctly returns the most recent string of data.
### Steps to reproduce behavior

Install the advanced custom fields plugin. Create an ACF field an

[2016-06-20 17:15] #1065 closed

[2016-06-20 17:17] #1066 closed

[2016-06-20 19:09] joaoeduardo opened #1076 "How to use wp_nav_menu?"
I call wp_nav_menu() inside a function in functions.php file.
Then I call this function on a twig file, but nothing was displayed.
I use WordPress 4.5.2, Timber 1.0.4 installed through wpackagist.

[code]
[code]

[2016-06-20 23:10] commercial-hippie commented on #1076
Timber has its own way to print out navigation menus and it's a lot easier to customize that wp_nav_menu.

See the menu page in the Wiki for details: https://github.com/timber/timber/wiki/TimberMenu

[2016-06-21 00:08] orest22 commented on #1064
I've tested it with Timber installed from WP.org and it works like a charm.
I'm using this at the top of functions.php to load Timber:
`require_once(__DIR__ . '/vendor/autoload.php');`

Does anybody have clue why it's conflicts with WPML? (WPML is using Twig as well).

[2016-06-21 00:47] joaoeduardo commented on #1076
I know, but I would like to use this way.

[2016-06-21 15:44] davidallansson opened #1078 "1.0.4 breaks media upload in multisite"
### Expected behavior

Image uploaded to the defined WP_CONTENT_DIR in wp-config
### Actual behavior

Image gets uploaded to the seperated core path under <core>/wp-content/
### Steps to reproduce behavior

Using Timber 1.0.4
In root folder of website use a index file to define Wordpress core path, common practice if using composer to install the core.
require( dirname( **FILE** ) . '/core/wp-blog

[2016-06-22 12:20] jarednova commented on #1070
Closed by #1071

[2016-06-22 12:20] #1070 closed

[2016-06-22 12:21] jarednova commented on #1057
Closed by #1071

[2016-06-22 12:21] #1057 closed

[2016-06-22 12:24] jarednova commented on #1074
@jesouhaite08 can you give me the name and type of this custom field so that I can test against your scenario exactly? thanks!

[2016-06-22 12:24] jarednova commented on #1073
Good point @streetyingyang — I see no reason why the user_pass should be returned by default. Any dissenting opinions?

[2016-06-22 12:40] kirkov opened #1080 "preg_match(): Compilation failed warnings"
### Expected behavior

No warnings.
### Actual behavior

Got multiple warnings:

[code]

Stack trace:

[code]
### Steps to reproduce behavior

Delete multiple images in the Media library.
### What version of WordPress, PHP and Timber are you using?

WordPress 4.5.3, PHP 7.0.3, Timber 1.0.3
### How did you install Timber? (for example, from GitHub, Composer/Packagist, WP.org?)

Composer

[2016-06-22 15:39] jesouhaite08 commented on #1074
@jarednova Sure! In one case I'm seeing it the name is _has_sidebar_ and the type is a _true/false_ field. I'm seeing it happen in any field with a revision, though. Thanks! :)

[2016-06-22 16:22] adhorrig commented on #982
Where is ```comment_form``` coming from? It seems to be outside of the starter-theme that I'm working with. I want to add to it but can't find where it resides. I.e. ```{{ fn('comment_form') }}``` will display the comment form, but I want to find the origin of it.

[2016-06-22 16:43] katipierson commented on #982
{{ fn('comment_form', comment_args, post.ID) }} - works for me

but it works also

{{ comment_form }} - if you create it in your single.php in this way:
$context['comment_form'] = comments_template($context['comment_args'], $post->ID);

[2016-06-22 16:57] adhorrig commented on #982
Oh, sorry if I wasn't clear. It works for me, I am wondering where the markup for the ```comment_form``` is coming from. 😄

[2016-06-22 17:12] katipierson commented on #982
Oh sorry.

It comes from Helper.php. And You can change it in two ways. You can use
`{{ fn('comment_form', comment_args, post.ID) }}` in twig and set "comment_args" in twig or better in your php-file in this way:
[code]
Or you can redeclare it in your php-file with
`$context['comment_form'] = get_comment_form($context['comment_args'], $post->ID);`

Cheers

[2016-06-23 08:08] louisbeziau opened #1082 "Fatal error: Class 'Route' not found in"
I'm using routes on Timber v1.0.5 with Wordpress to have nice url for my news.

`Route::map('news', function() {
    $query = 'post_type=post';
    Routes::load('archive-news.php', $query);
});

Route::map('news/page/:pg', function($params) {
    $query = 'post_type=post&paged='.intval($params['pg']);
    Routes::load('archive-news.php', $query);
});`

And I'm getting this error : Fatal error: Cla

[2016-06-23 11:35] jarednova commented on #1082
Try `Routes` vs `Route`

[2016-06-23 11:49] louisbeziau commented on #1082
Thanks a lot

[2016-06-23 11:49] louisbeziau commented on #1082
Thanks a lot

[2016-06-23 11:49] #1082 closed

[2016-06-23 12:41] jarednova commented on #1080
@kirkov is this on a multisite or regular install?

[2016-06-23 12:42] jarednova commented on #979
This should be resolved by #1041 — @gridsystem @chrisgherbert (or anyone else) please test agains the current `master` to see if the fix resolves this for you (thanks to @mrgrain for the PR!)

[2016-06-23 12:42] kirkov commented on #1080
Regular install - and forgot to mention, on Windows 10.

[2016-06-23 12:44] jarednova commented on #1080
_We put the "Win!" in "Uninstall Windows!"_

.... sorry

[2016-06-24 15:09] jarednova commented on #568
@haroldangenent — I've merged @connorjburton's #1050 into `master`; could you let me know if that resolves the issue for you?

[2016-06-24 15:17] jarednova commented on #1073
@streetyingyang — specifically are you concerned about someone in a template being able to retrieve via `{{ user.user_pass }}`? or is this more about someone doing a `print_r` on that object (for example, the [Timber Debug Bar](https://wordpress.org/plugins/debug-bar-timber/) would make that info available right now)

[2016-06-24 16:23] thedamon opened #1085 "Dates rendering incorrectly"
### Expected behavior
`{{ '1457395200' | date('Y-m-d') }} => 2016-03-08`
`{{ 1457395200 | date('Y-m-d') }} => 2016-03-08`
`{{ function('date_i18n', 'Y-m-d', 1457395200) }} => 2016-03-08`
`{{ function('date', 'Y-m-d', 1457395200) }} => 2016-03-08`

### Actual behavior
`{{ '1457395200' | date('Y-m-d') }} => 5200-06-24`
`{{ 1457395200 | date('Y-m-d') }} => 5200-06-24`
`{{ function('date_i18n', 'Y-m-d

[2016-06-24 17:48] lggorman commented on #1074
@jesouhaite08 Which version of acf are you using?  Having trouble replicating.

[2016-06-25 01:16] jesouhaite08 commented on #1074
@lggorman I'm using ACF version 5.3.9.1. Thank you!

[2016-06-25 18:50] lmartins commented on #1063
This is something I am also exploring now. I have a traditional WP site, where some components are rendered with Vue.js
For those components, would be very useful to have Timber's queries return JSON data to be consumed by Vue. The new WP REST API would be my first approach, although Timber's methods have the advantage of already including meta fields and other data that would need to approached d

[2016-06-26 20:29] streetyingyang commented on #1073
Tough question. It's obviously not something somebody would want to use in a view. In some rare circumstances of someone being ignorant or having nefarious intentions, a list of users in a twig view could possibly expose user_pass.

I created a new user object via $context['user_test'] = new TimberUser(2); and got the same output my user has during my session (user_pass being printed). It's a stre

[2016-06-27 15:43] jarednova commented on #1073
@streetyingyang thanks for highlighting this and your info. @lggorman made a PR that will be a part of the next release (#1084)

[2016-06-27 15:43] #1073 closed

[2016-06-27 22:28] jarednova commented on #1085
Closed by #1087

[2016-06-27 22:28] #1085 closed

[2016-06-28 08:02] haroldangenent commented on #568
@jarednova Thanks. Didn't get around to respond to the PR, but yes, it resolves the issues. I was wondering about a few minor things:

- I see there's a new static method named `switch_to_blog`, but it's called from content in `Site->__construct()` like this: `$this->switch_to_blog()`. Wouldn't it be better to call it without any `$this` context: `self::switch_to_blog()`?
- Would there be any bene

[2016-06-28 13:12] jarednova commented on #568
@haroldangenent thanks for those notes! I made some updates to cover those in e8b344b25a89e48304adb92065b9e8a4dad57a72

... the only one I left out was `restore_current_blog`. Even though the functionality matches (as you note) I'm always very wary of "blackbox" functions that rely on globals to store/pass that information. There's probably low risk here; but I'd rather go a slightly more verbose

[2016-06-28 13:12] #568 closed

[2016-06-28 13:12] #1063 closed

[2016-06-28 14:50] haroldangenent commented on #568
I see, that makes sense. Thanks for your response and work on this!

[2016-06-28 14:52] jscontrust commented on #819
I have the same problem. I can`t exactly reproduce when it started, but maybe it happened after updating WPML to it`s latest Version.

returns null, if post with id=1234 is a custom post type.

We have the same issue for timberTermInstance.get_posts(). We need to add post_type=our_custom_type_slug to get the corresponding posts.

[2016-06-28 16:09] johnstew commented on #951
Yea so I can confirm this behavior. I was running into the same issue for the past couple of days and had no clue until I read this that the arguments differ. I thought they were the exact same as WP Query.

I'm not sure if I missed this in the documentation but I think it would be best moving forward to have the same argument expectations for `Timber::get_posts` as we do for `WPQuery`.

[2016-06-29 03:56] jarednova commented on #819
@jscontrust — does this occur when WPML is NOT activated? I want to make sure I can accurately identify under what circumstances this happens

[2016-06-29 04:06] jarednova commented on #819
I've written a test that verifies the behavior seen by @jscontrust as working: ea50d520e0fa83c0322bffa31634c5e0f074a241

[2016-06-29 04:07] jarednova opened #1093 "get_posts vs. Timber::get_posts() behaves differently on page.php"
I'm also getting this issue. When I log out the following in page.php:

[code]

But when I use the Timber version it's outputting the current page instead:

[code]

If I change it to the following it works!

[code]

[2016-06-29 04:07] jarednova commented on #819
@kmturley — I've added your comment on a new issue in #1093

[2016-06-29 04:09] jarednova commented on #819
@kmturley — I've verified the error you're seeing in e5ad299. @lggorman — could you investigate a solution?

[2016-06-29 12:31] dco5 opened #1094 "How do I get Image title using ACF"
### Expected behavior
I was trying to get the ACF Image Title,

{{ TimberImage(post.get_field('slider_3')).title }} does not work
{{ TimberImage(post.get_field('slider_3')).caption }} works

### Steps to reproduce behavior
{{ TimberImage(post.get_field('slider_3')).title}}

### What version of WordPress, PHP and Timber are you using?
WordPress 4.5.3, PHP 5.7, Timber 1.0.5

### How did you install

[2016-06-29 13:30] dco5 commented on #1094
Nevermind I figure it out

{{ post.get_field('slider_3')).title }}

[2016-06-29 13:32] #1094 closed

[2016-06-29 15:58] lggorman commented on #1074
@jesouhaite08 I've been testing with your versions of WP, Timber, and ACF and haven't been able to reproduce the issue.  Are there any other specifics of your setup that might be useful to know about?  Other plugins maybe?

[2016-06-29 16:26] johnstew opened #1095 "Fatal error: Uncaught Error: Cannot access property started with '\0' timber-core.php"
### Expected behavior
Expecting for Timber to render complete homepage.

### Actual behavior
Currently the homepage of the site is only rendering about half the page. Whats weird is there are other pages on the site that render completely fine and work.

`Fatal error: Uncaught Error: Cannot access property started with '\0' in /var/www/html/wp-content/plugins/timber-library/lib/timber-core.php:67`

[2016-06-29 18:12] johnstew commented on #951
Okay so after more research here I realized that there actually is an example of how to do a query on with Taxonomy right in from of my face the entire time.

Look at the query:
https://github.com/timber/timber/wiki/Timber-docs#get_posts

However, it still is a little misleading because it says that it supports a WP_Query args but from my attempts at using the [category parameters](https://codex.w

[2016-06-29 18:52] connorjburton commented on #951
Under the hood `Timber::get_posts` uses `WP_Query`, however that accepts different parameters than `get_posts`, which causes the confusion.

[2016-06-29 20:19] matgargano opened #1097 "How can I get an arbitrary permalink within Timber?"
### Expected behavior
I am trying to get a permalink for arbitrary posts that I have saved in a custom field for a post. It's saved as ` [{Post Object} , {Post Object} , {Post Object} ]`

When I loop through the array, which is saved in my context as `blog_posts` I have tried:

[code]

expecting the URL for the post to be output, however it is not.

### Actual behavior
It is returning blank, e.g.

[2016-06-29 20:26] matgargano commented on #1097
I see I can just run

[code]

is this the right way?

[2016-06-29 20:38] jarednova commented on #1097
@matgargano try:

[code]

... in the `{% for` loop you're declaring that items from the `blog_posts` array should be handled as `TimberPost` objects

[2016-06-29 20:40] matgargano commented on #1097
awesome!

[2016-06-29 20:42] #1097 closed

[2016-06-29 20:45] jarednova commented on #1095
@johnstew the newest version of Timber fixes this. @FlyingDR fixed this in #1067. If you need to stick with `0.22.5`, you can read through his commits to see what was changed to get that working again

[2016-06-29 20:46] #1095 closed

[2016-06-30 13:28] haroldangenent commented on #829
I am (still) experiencing the same issues as @hbrok on 1.0.5 (installed from WPackagist). Files do work and get served through lowercase `.jpg`, but are downloaded _every time_ the page loads (or the function is called). In no time, the server contains hundreds of (the same) files. I also only experienced this on some servers (for example, not on my local Vagrantbox).

Boiled it down to this part

[2016-06-30 14:38] haroldangenent opened #1098 "External images are downloaded again each month"
### Expected behavior

External images are downloaded to the uploads directory. Expected behaviour is that they are downloaded once and then served from this location in the future.
### Actual behavior

If an image is downloaded on 30-06-2016, it will be downloaded again on 01-07-2016. When a lot of images are involved, this can really fill up a hard drive.
### Steps to reproduce behavior
1. Use r

[2016-06-30 21:40] lggorman commented on #819
@kmturley @jscontrust In your `register_post_type` $args array, is `public` set to true and `exclude_from_search` either not set or set to false? (if public is true, exclude from search should be set to false by default).  WordPress's `get_post()` goes directly to the database, but Timber's relies on `get_posts()`, which only gets post types where `exclude_from_search` is set to false.  I think th

[2016-07-01 15:20] chetzof commented on #330
I got my theme accepted on ThemeForest and it uses Timber.

I asked the same question the support team and they said they have no problem with it. So i did create a theme using Timber,  however during review another reviewer rejected it saying they don't allow Twig.
Then i had to sent them the ID of the ticket, where they allowed using it :)

So in the end they approved it, however required that t

[2016-07-02 09:09] lmartins opened #1099 "Support for WP_Meta_Query in Timber's get_terms method"
### Expected behavior
I was trying to create a query that makes use of WP_Meta_Query and noticed that the output from Timber's `get_terms` ignores the meta query, while using the native method works as expected.

Is this something planned for a future release?

### Actual behavior
Timber's method ignores the use of WP_Meta_Query

### What version of WordPress, PHP and Timber are you using?
WordPre

[2016-07-02 10:29] #1099 closed

[2016-07-02 10:30] lmartins commented on #1099
Closing it has I had an error in my code giving the impression that the native method was outputting different results, which isn't the case.

[2016-07-05 15:50] Luckyfella73 opened #1100 "Question - how to get custom menu css class"
Hi,

I wonder if there is a way to get (only) the custom css class(es) defined in WP backend and assigned to a menu item.

The timber wiki tells us how to get all the classes when building the menu:
`
{{item.classes | join(' ')}}
`

but it would be great to be able to extract the custom classes from the onces dynamically created by WP.

Any ideas?

[2016-07-05 23:27] jarednova commented on #1078
Hi @davidallansson — I spent a big chunk of time trying to recreate this issue on my side, but was unable. That said, I don't doubt this is happening — there are lots of places where Timber is dancing around various media upload folders. I know I've been imperfect about implementing these for the types of setups you're on. Could you look into where the I might have gone astray and submit a PR?

[2016-07-06 12:33] #979 closed

[2016-07-06 12:48] NikolaGrdanjski opened #1101 "ACF Gallery - First two image."
Hi.
Howe I can, display only first two image from ACF Gallery field.
Tnx

[2016-07-06 12:51] matgargano opened #1102 "Extended Timber's Post object with custom methods, how to apply that to the main loop?"
I added a [class](https://gist.github.com/matgargano/0bb78506044579571ccb2043c151b576) that extends `Timber\Post` for grabbing and returning connected fields using [Posts to Posts](https://github.com/scribu/wp-posts-to-posts)

If I want to use this class, you give a dead simple way when using Timber::get_posts() to tell it what class to use, e.g. `$context['posts'] = Timber::get_posts( $args, Conn

[2016-07-06 13:09] sajadghawami opened #1103 "Use for Plugins"
Hey Guys,

is it a good idea to use timber to develop new Plugins?
I am looking for a neat Framework to do that, but timber seems to be a framework for theme development, and not plugins.

Thanks

[2016-07-06 16:06] jarednova commented on #1103
@leakingminds we've used it before in plugins! https://github.com/upstatement/stream-manager — that said, it's definitely more tested in a theme context

[2016-07-06 17:58] jeffreygnatek commented on #742
i'm seeing some significant times for timber_context in new relic, on a theme that uses tons of shortcodes (via custom visual composer widgets). would love to find out more about this.

[2016-07-06 18:41] nikola3244 opened #1104 "Undefined variable: current"
### Expected behavior

No notices.
### Actual behavior

Couple notices of undefined variables.
[code]
### Steps to reproduce behavior

I got this error while trying out "Helium" template from RocketTheme.
[Can be downloaded here](http://gantry.org/downloads#ci-builds).

### What version of WordPress, PHP and Timber are you using?

Wordpress 4.5.3, Apache/2.4.20 (Unix) OpenSSL/1.0.2h PHP/5.6.23, Ti

[2016-07-06 18:54] mahagr commented on #1011
You can close the issue, issue is not for timber.

[2016-07-06 21:29] matgargano opened #1106 "Not finding posts connected to a term using `{% for post in term.get_posts('post_type=office-location') %}`"
Timber: 1.1.0
Installed via composer
WordPress: 4.5.3

I have a post type of `office-location`

I have a taxonomy of `office_location_state`

In my controller I have

[code]

In twig I have:

[code]

I have 4 posts in the post type `office-location` and they are each connected to a `office_location_state` taxonomy term:

Post Title: Another in New York term
Post Title: New York in New York term
Po

[2016-07-06 21:43] matgargano commented on #1106
safely ignore this

[2016-07-06 21:43] #1106 closed

[2016-07-07 09:41] #1011 closed

[2016-07-07 19:14] johnstew commented on #1095
Awesome thanks a lot!

[2016-07-08 10:27] leakingminds commented on #1103
@jarednova thanks!

any recommedations what framework could be used in addition to timber, to develop plugins?

[2016-07-08 15:38] arnisjuraga opened #1107 "Correct Wordpress admin bar location"
Did not found a solution or comments on this, may be I am doing something wrong, but the code is quite simple:

I have index.twig template and everything works fine, until I login into admin -
1) Wordpress adds admin-bar HTML _before index.twig_ template code itself.
2) Wordpress does not adds additional admin classes for `<body>` tag

looks like this:
In `index.php` file:

[code]

my `.twig` file

[2016-07-08 16:10] arnasziedas opened #1108 "Conditional extends in templates"
Is there a way to pass on a variable to be used in extends conditional? See example below:

[code]

This is for cases when you need a certain block or a child template to be passed on through AJAX.

I realise it's more of a Twig related issue than Timber but was wondering if there's any way to attach that wanted _ajax_ variable to any Timber objects.

[2016-07-09 06:20] cjke commented on #1074
I'm experiencing something similar with ACF 5.3.9.2.

I have the following plugins installed on WP 4.5.3:
- Paid Memberships Pro 1.8.9.3
- WP REST API 2.0-beta

The snippet I am using to access the field is as follows:

[code]

Dumping out post, yields the following, pulling out the relevant section:

[code]

I have attached an export of that custom content type

[acf-export-2016-07-09.json.zip](h

[2016-07-09 11:22] jesouhaite08 commented on #1074
@lggorman The site I'm working on has 28 active plugins. Appreciate you trying.

[2016-07-09 12:16] cjke commented on #1074
@jesouhaite08 Ah, revisions right gotcha. I will use your tips re: get_field.

@lggorman I want to second the above sentiment, and thank you for looking into this and trying.

[2016-07-10 11:13] xavivars opened #1109 "Extra redirects due to wrong pagination"
### Expected behavior
When clicking on a pagination link, I would land on the final URL

### Actual behavior
There's a 301 redirect from the click on the pagination link to the actual page

### Steps to reproduce behavior
Due to https://github.com/timber/timber/blob/master/lib/Helper.php#L515, links to different pages are like

    htttp://example.org/page/2

instead of

    http://example.org/pag

[2016-07-10 18:25] digi-bits commented on #498
Still having the same issue as described by @fujo. I also found fix you added for Issue #886, switching it from $parts['dirname'] === '/' to $parts['dirname'] === DIRECTORY_SEPARATOR seems to have fixed it for me.

[2016-07-11 00:55] jarednova commented on #1109
@xavivars — is this as simple as changing `untrailingslashit` to `trailingslashit`? Does WordPress have a canonical rule for whether URLs should have a trailing slash?

[2016-07-11 00:57] jarednova commented on #1108
@arnasziedas, does this article help? http://twig.sensiolabs.org/doc/recipes.html#making-a-layout-conditional

I think it's as simple as sending a value into the template's data:

[code]

[2016-07-11 09:12] arnasziedas commented on #1108
Thanks @jarednova, storing a variable in context object and then passing it later to extends tag conditional did the trick!

[2016-07-11 09:12] #1108 closed

[2016-07-11 12:55] jarednova commented on #1109
@xavivars fantastic! I didn't realize that method existed . Please do a PR when you can!

[2016-07-11 22:03] xavivars commented on #1109
I've just pushed #1112 so you can take a look, but it's not ready to be merged: tests are not passing.

Even if in my setup (with a very standard /%postname%/ setup) works now, a few tests (that I modified) are failing: some of the setups of the tests seem very weird to me (expecting links like http://example.org/page/5/?s=post ).

Also, even in the tests I wrote, the positive case (the one coveri

[2016-07-12 11:18] mrgrain commented on #1109
Seems fine, but you'll have to call `	resetPermalinks()` from `$this`:
`$this->resetPermalinks();`

:)

[2016-07-12 15:36] ashrayer commented on #824
Please check if I'm right. I made edits in my Term.php

`
	/**
	 * @internal
	 * @param string $field_name
	 * @return string
	 */
	public function get_meta_field( $field_name ) {
		if ( !isset($this->$field_name) ) {
			$field_value = '';
			$field_value = apply_filters('timber_term_get_meta_field', $field_value, $this->ID, $field_name, $this);
			$field_value = apply_filters('timber/term/meta/fi

[2016-07-12 20:38] #1006 closed

[2016-07-13 15:44] dudewithamood opened #1116 "Return primary category"
Hi,

get_category() returns the first category where there are multiple.

Since Wordpress allows for making one category the primary category, would it make sense to return that?

Thank you

[2016-07-13 15:49] jarednova commented on #1116
@dudewithamood you bet it would! But I'm unfamiliar with "primary category" functionality (unless it comes from a plugin) can you point us to some docs?

[2016-07-13 16:04] #996 closed

[2016-07-13 16:06] jarednova commented on #1104
Closed by #1105

[2016-07-13 16:06] #1104 closed

[2016-07-13 16:06] jarednova commented on #1109
Closed by #1112

[2016-07-13 16:06] #1109 closed

[2016-07-13 19:28] hyperbrave commented on #841
how do you use a post class for posts queried with query_posts?

[2016-07-13 20:41] jarednova commented on #1107
@arnisjuraga — that's really strange. The admin bar outputs via `{{ function('wp_head') }}` so it should come within those `<head>` tags. Can you remove that line (in the twig file) and see if you still see the admin bar output? My guess is you have a `wp_head()` call (or something calling it) in one of those PHP files

[2016-07-13 20:42] jarednova commented on #1101
Hi @NikolaGrdanjski — for questions like this please post to StackOverflow: http://stackoverflow.com/questions/tagged/timber

[2016-07-13 20:42] #1101 closed

[2016-07-13 20:46] jarednova commented on #1102
@matgargano what you have will work. My take is to usually override what's coming through with...

[code]
... which will use the default query of that PHP loop

[2016-07-13 20:46] #1102 closed

[2016-07-13 20:55] matgargano commented on #1102
👍

[2016-07-14 07:06] dudewithamood commented on #1116
@jarednova ah, yes, I hear what you are saying. I didn't realise but it seems to have been introduced with the Yoast SEO plugin. I guess then I should try and use their breadcrumb rather than create my own.

[2016-07-14 07:06] #1116 closed

[2016-07-14 18:02] hbrok commented on #1098
My solution (for now) was adding an action to [`ImageHelper::get_sideloaded_file_loc()`](https://github.com/timber/timber/blob/cbb8dc14ce47f5d7f24504675ea7390a8adca65b/lib/ImageHelper.php#L276):

[code]

Then in the action, I use the `upload_dir` filter to change the subdir to `external`.
[code]

I did this so I would be editing as little of the Timber plugin files as possible so upgrades won't be

[2016-07-14 21:48] felipearosemena commented on #51
Hi, I'm working with a multisite setup and I'm having trouble understanding how to query posts from the main site and have them display on the sub site.

As a proof of concept I was doing the following:
[code]
Where I was expecting that `Timber::get_posts`  this will return `posts` from the main site (site `1`), instead I get the posts from the current site I'm on (site `2`)

Do I need to do somet

[2016-07-14 22:22] felipearosemena commented on #51
I've found something interesting.

If I run `Timber::get_posts()` with no arguments (after calling `switch_to_blog()`), Timber seems to ignore the switch and return just the current site posts.

If you pass arguments to `Timber::get_posts($args)` to the query instead, then it returns the posts from the other site, which is the behaviour that I'm looking for.

[2016-07-15 00:31] jared83 opened #1117 "Unable to render the SiteOrigin's Page Builder (plugin) WYSIWYG editor content on any post or page"
### Expected behavior

After installing, activating and switching to SiteOrigin's Page Builder editor on any page or post, calling `{{ post.content }}` should render Page Builder's editor content with applied filters, shortcodes, widgets etc. to `{{ post.content }}`.
Timber's documentation states that calling `{{ post.content }}` does just that. However It doesn't seem to handle the Page Builder's

[2016-07-15 16:11] jarednova opened #1118 "Create new Pagination API"
Relates to #816

Create new pagination object that directly relates to a `PostsCollection` so that pagination more naturally relates to the collection of posts the user is handling

[2016-07-15 16:55] felipearosemena commented on #217
@connorjburton +1

[2016-07-15 17:33] SlawaGurevich opened #1119 "Limit Pagination to category?"
As everybody is aware, you can just include all categories with `$c['categories'] = $categories;` and then just get the posts belonging to that category with `{% for post in category.get_posts({"posts_per_page":4}) %}` and display them on the page, which works great.

But what if I would like to use multiple paginations for each of the post categories I got with the `category.get_posts`? As far as

[2016-07-15 19:12] felipearosemena opened #1120 "PHP notice being thrown when using Timber::get_pagination()"
When calling `Timber::get_pagination()` on an index page, an PHP notice gets thrown.

[code]

[2016-07-15 19:41] jarednova commented on #1120
@felipearosemena — I believe this is fixed from #1105. Are you using the current version from WP.org, or `master`?

[2016-07-18 14:22] haroldangenent commented on #1098
@hbrok Thanks for the tip. I have a similar temporary fix, but this doesn't require to update Timber's source code (which is impossible when using a dependency manager like Composer). I have actually hooked into Twig to setup the `resize` filter to include my own object, so I can perform some checks before passing `resize` to Timber's object.

The code below also fixes uppercase extension problems

[2016-07-18 14:23] haroldangenent commented on #1098
@hbrok By the way, don't forget to remove the filter after Timber is done resizing, so the filter is not executed later and / or multiple times.

[2016-07-18 14:25] jarednova commented on #1098
@haroldangenent @hbrok thanks for bringing this to my attention! @haroldangenent you mention that what you have is a workaround for now. What would it take to make it into a more stable PR? Are there any additional hooks/filters I could add that would help?

[2016-07-18 14:28] haroldangenent commented on #829
@connorjburton Maybe this should be reopened, since the effect of this issue has quite a high impact (images are downloaded *each page view*). If you'd like me to file another issue, let me know.

For anyone looking for a (hacky) workaround, see https://github.com/timber/timber/issues/1098#issuecomment-233343459.

[2016-07-18 14:49] haroldangenent commented on #1098
@jarednova I currently have three ideas about a more stable solution:

1. Provide hooks before and after sideloading an image so a developer 'knows' when to hook into `wp_upload_dir` to change it
2. Provide a filter for a developer to change the sideloaded directory and change `wp_upload_dir` in Timber
3. Somehow fix entirely the issue another way or maybe even put all sideloaded files into one sp

[2016-07-18 15:40] wearemetabolism opened #1122 "resize twig filter not working"
Twig filters require the use of namespace instead of the old class

[code]

The problem is also present in the test files.

I'm using Timber as a simple vendor through Bedrock

BTW thank you for this awesome plugin, it should be integrated to WP natively !

[2016-07-18 16:51] jgierer12 commented on #1107
The HTML code for the admin bar actually outputs at the end of the document via `wp_footer()`. So check if you have that in your template.

[2016-07-18 16:54] jarednova commented on #1122
@wearemetabolism — thanks for the heads-up on that! There's an alias of `Timber\ImageHelper` to `TimberImageHelper` so it should still work. Regardless, I made it so that it's now pointing at the correct namespace

[2016-07-18 16:55] #1122 closed

[2016-07-18 20:08] felipearosemena commented on #1120
@jarednova I'm using the one from WP.org.

[2016-07-18 20:11] felipearosemena commented on #1120
I see now that they are not the same version. Will stick to getting the plugin from Github instead, seems to be more up to date.

[2016-07-19 11:16] #1120 closed

[2016-07-19 14:57] connorjburton commented on #1076
You could try adding the `'echo' => false` args to `wp_nav_menu` and then return it.

[code]

[2016-07-19 19:06] connorjburton commented on #1100
I don't think this is available through the `MenuItem` class, what are you trying to achieve with this? We could add a `custom_classes` attribute

[2016-07-19 21:32] thedamon commented on #732
This is something I'm thinking of as well.

My use case is a partial (.twig) that has a certain data interface that can be used to list a number of different things, which are coming from different data sources. Really I think I will always be able to see in the page controller which are being used and then if necessary create a

But if not, I think the best way to address this with what's availab

[2016-07-20 09:14] njbarrett opened #1124 "1.1.1 is not on packagist"
I think a 1.1.1 version needs tagging for packagist to pick it up. I need the pagination fixes from it :) Thanks

[2016-07-20 10:23] Luckyfella73 commented on #1100
I had to build a menu having an icon (custom icon-font) and textlink below icon. I needed the css class that can be set in WP backand / menu items for an element nested inside the li element (span class="menuicon ...")

`
 <nav id="menu" class="wrapper-menu-main">
	<ul class="nav-main">
		{% for item in main_menu.get_items %}

			<li class="nav-main-item {{ item.classes | join(' ') }}">
				{% set

[2016-07-20 11:42] jarednova commented on #1124
@njbarrett thanks for the reminder, all done!

[2016-07-20 11:42] #1124 closed

[2016-07-20 11:44] jarednova commented on #1119
@SlawaGurevich right now it'd take some pretty serious acrobatics to get that to work. But what we're looking at with #1118 should help solve this

[2016-07-22 04:59] commercial-hippie opened #1125 "Relevanssi excerpt"
When using the [Relevanssi search plugin](https://wordpress.org/plugins/relevanssi/) you can have it modify the excerpts displayed, and pull the excerpt from custom fields.  Pretty neat!

Unfortunately Timbers `{{ post.get_preview(40) }}` doesn't give the same excerpt, and neither does `{{ post.post_excerpt }}`, so I'm using `{{ function('get_the_excerpt', post.id) }}`.

This is not really a big b

[2016-07-22 06:23] cjke commented on #819
Just want to confirm, for me, using latest master with @lggorman 's patch is working now for me with custom content types (previously it wasn't)

[2016-07-22 11:19] jarednova commented on #819
Awesome! Let's call this one closed!

[2016-07-22 11:19] #819 closed

[2016-07-22 11:54] joaoeduardo commented on #1076
@connorjburton Recently I tried again, with this args, and it worked. Thank you. Sorry for this silly question.

[2016-07-22 11:54] #1076 closed

[2016-07-23 04:25] cjke commented on #819
Easy. Thanks for being an awesome and welcoming community

[2016-07-24 04:07] jarednova commented on #1059
#1127 — has a patch ready for this one

[2016-07-24 05:39] swthate commented on #1074
I just noticed after updating from 1.0.5 to 1.1.1 the same issue. Using `get_field()` seems to do the trick for me, too. Thanks!

[2016-07-24 16:28] jesouhaite08 commented on #1074
@swthate No problem!

[2016-07-25 22:01] nateluzod opened #1128 "Thousands of transient_timeout_timberloader records getting generated"
### Expected behavior

The `wp_options` table should not get bloated with transient records

### Actual behavior

`wp_options` currently has 12,000+ rows for `transient_timeout_timberloader`. I'm not sure if this is because of Timber or because of our server, but our DB grew from 5mb to 29mb over the past week and I'm just trying to identify the culprit. I'm not sure if this is the correct forum f

[2016-07-26 16:45] jordant1089 opened #1129 "Incompatibility with Yoast SEO on multisite / network"
There is an incompatibility issue between Timber and [Yoast SEO](https://wordpress.org/plugins/wordpress-seo/). I've made a comment on a [similar issue in their repository](https://github.com/Yoast/wordpress-seo/issues/4989).

The issue occurs on multisite installs where both plugins are active. It occurs because when saving a post, their metabox checks if the site is a multisite and if the site h

[2016-07-27 10:26] SlawaGurevich commented on #1119
Yes, I guess that would solve the problem. Looking forward for it to get implemented ;)

[2016-07-27 23:28] jarednova commented on #1128
@nateluzod can you look into your PHP files and look for instance(s) of `TimberHelper::transient(...` or `Timber\Helper::transient(....` — I'm guessing that mixed with something else is causing the runaway

[2016-07-28 07:54] Samsonator opened #1130 "Pagination in Search Results has Trailing Slash"
### Expected behavior
We are seeing a 404 error for the pagination on the search results page. This seems to be due to a trailing slash being added so that the URL looks like this:
http://example.com/page/2/?s=searchquerystring**/**

I tracked it down to a line in plugins/timber-library/lib/Helper.php.
Inside the paginate_links function on line 518:
$link = user_trailingslashit($link);

This seems

[2016-07-28 09:42] sftsk opened #1131 "TimberImage not hooking into all the right functions"
### Expected behavior

We are using OffloadS3 on our Amazon server to keep images on S3. When accessing their url like this `TimberImage(icon).src` the path returned is not the right path. It gives the local path and not the s3 path (and the local file does not exist anymore as it is removed upon upload to s3).
`http://new.bpgen.com/app/uploads/2016/07/plate-with-53.jpg`

If I use a image size lik

[2016-07-28 13:19] sftsk commented on #1131
I just saw that this has been discussed on #429 and that there have been some solutions.

Please look into this and fix this within Timber.
For the moment I have "fixed" it by applying the following filter:

[code]

would be great if you could pass size into the filter than this would almost be a working solution but in any case please fix this within TimberImage.

[2016-07-28 13:53] jarednova commented on #1131
Thanks @sftsk! I'll take a look at this, but feel free to submit a PR that takes care of the fix you're looking for

[2016-07-28 17:37] ChrisSargent opened #1132 "Getting Custom Image Sizes"
Hi - thanks for making this plugin, in general is making life a lot easier and certainly code cleaner!
### Expected behavior

I see this issue has been closed but now I have an issue with the edge case mentioned here: https://github.com/timber/timber/issues/438

Let's say I have some code like this:

[code]

I would expect to correctly get the image src, width and height for that given size.
### A

[2016-08-01 11:50] jarednova commented on #1130
Thanks @Samsonator — I'll take a look!

[2016-08-01 15:03] chetzof opened #1133 "Timber cannot resize images with Hebrew characters"
Name any image `איתין-נוף-נוסף.jpg` , upload to wordpress and try to resize it

[code]

The call returns original image, no resizing is done.
Not sure if the bug is OS-dependent, but is reproducible on any Linux OS.

[2016-08-01 15:30] #1059 closed

[2016-08-01 15:30] jarednova commented on #1059
Patch is in! @hbrok — take a look at the current `master` if you're interested (I'll release to wp.org tomorrow)

[2016-08-01 19:56] jarednova commented on #1130
@Samsonator: I have a fix in #1134; could you confirm that it solves your issue? I'd like to deploy to wp.org tomorrow; thanks!

[2016-08-01 20:15] rbvea commented on #1128
@jarednova (@nateluzod's coworker here), there's no instance of `TimberHelper::transient` in our php files.  We're caching the timber templates using what's specified in the documentation:

[code]

Looks like the transient records aren't automatically expiring:

![screen shot 2016-08-01 at 10 14 54 am](https://cloud.githubusercontent.com/assets/949055/17307441/da80dc1c-57d0-11e6-8332-6e978b0f42f9.

[2016-08-01 20:20] jarednova commented on #1128
Thanks @rbvea — I'll check stuff out based on that!

[2016-08-02 08:26] Samsonator commented on #1130
@jarednova Hi Jared, unfortunately it seems as though the trailing slashes are still present on the "Next and "Prev" buttons but have been removed from the page numbers.

I believe it is lines: 462 and 465 in Timber.php:
`if ( isset($current) && isset($data['pages'][$current + 1]) ) {
	$data['next'] = array('link' => user_trailingslashit($data['pages'][$current + 1]['link']), 'class' => 'page-numb

[2016-08-02 17:55] jarednova commented on #1130
Thanks @Samsonator — I just added the fix for prev/next too! The result is now in master. Thanks again for your help reporting and checking on this

[2016-08-02 17:55] #1130 closed

[2016-08-02 22:09] xavivars opened #1136 "Question: Timber::query_post() vs new TimberPost()"
What are the differences between doing  `$context['post'] = new TimberPost();` and `$context['post'] = Timber::query_post()`?

I realized I'm doing each of them on different templates in my theme, and I don't have a clear reason for that, but I'm not sure if I should replace, or which one I should use...

I don't see Timber::query_post() documented as a function, but it appears on many examples. A

[2016-08-03 08:48] asecondwill commented on #571
@connorjburton  - no worries connor.  I've not done much WP work for a while. the trail went cold on a few of these tickets, makes sense to close them now like you have.

[2016-08-03 10:36] gajama commented on #546
Not sure if it will help anyone but I got this to work more-or-less like it had before I started using Timber by doing the following:

`{{ fn( 'apply_filters', 'the_content', post.get_preview(50, false, "<br/>(more...)") ) }}`

Explicitly setting the read more text in the call to `get_preview` because otherwise it defaults to "Read More" and overrides any customisation.

[2016-08-03 13:46] gajama commented on #546
After a bit of fiddling around the following more idiomatic way also works for my use case:

` {{ post.get_preview(50, false, more)|apply_filters('the_content') }}` with `more` being passed from the context as in my previous comment.

[2016-08-03 14:13] gajama commented on #546
The following works for me:

`{{ post.get_preview(50, false, more)|apply_filters('the_content') }}`

With "more" in the get_preview call being the text and markup I want for the "Read more" link passed in via the context. For example:

`$context['more'] = "<br/>(more...)";` or

`$context[ 'more' ] = '<br/>(more...)<img src="' . get_bloginfo('template_directory'). '/images/more.gif" alt="read more"

[2016-08-04 15:19] dotteson-delta opened #1138 "Question on pagination."
### Expected behavior

First, apologies if this isn't formatted correctly, first time interacting with an issue page in git.

I have the pagination functionality working how I want it for one piece of my project. I have a list of contacts and the pages are working correctly. However I also have a part where you can filter these contacts by state.

The problem comes in when I try and navigate from

[2016-08-04 21:24] #1138 closed

[2016-08-06 07:38] ijakparov opened #1139 "Partial Cache expiration"
There is no way to set up partial cache expiration time.

[2016-08-06 14:13] skynet opened #1140 "Not PHP 7.0 compatible."
[code]

[2016-08-06 22:08] gchtr opened #1141 "Improve linking to Timber Docs"
While helping others working with Timber, I noticed that linking to the Timber Docs could be improved:
- The headings have `id` attributes, but sometimes they are not unique, because certain headings have the same name, e.g. "Shortcodes" (http://timber.github.io/timber/#shortcodes). For anchor links to work properly, the ids have to be unique.
- When I open a link to a section/heading other than a

[2016-08-09 05:31] Rocketpilot opened #1143 "Timber 1.1.2 claims not to be active"
### Expected behaviour

When installed or activated, I expect that Timber will register itself correctly and be available to a theme.
### Actual behavior

When installed fresh or in existing site, updating to Timber 1.1.2 makes any theme return only the following error message `Timber not activated. Make sure you activate the plugin in /wp-admin/plugins.php`
### Steps to reproduce behavior

Fresh

[2016-08-09 08:33] Mallinanga opened #1144 "get_fields('options') used to return all values from all options pages."
get_fields('options') used to return all values from all options pages.
Now is returns false.

Tried also with get_fields('option'), but still nothing.

ACF version is 5.4.0 (PRO)

[2016-08-09 13:26] jarednova commented on #1144
@Mallinanga please use the issue template and re-file this issue with the full information

[2016-08-09 13:26] #1144 closed

[2016-08-09 13:27] jarednova commented on #1143
@Rocketpilot — can you send me a screenshot of your plugins page?

[2016-08-09 13:30] jarednova commented on #1140
@skynet — what version of Timber is this occurring in? based on the messages, the issues seem to be coming from Twig which is supposed to be PHP 7 compatible

[2016-08-09 13:31] Rocketpilot commented on #1143
@jarednova happy to, but won't be back at work computer for a while as it's a public holiday now down under. In any case this is happening on a completely stock install with only Timber running or indeed loaded. I'll try and replicate on my home machine.

[2016-08-10 03:54] Rocketpilot commented on #1143
@jarednova addendum, I ran up a test install on my home Mac, PHP version 5.6.16; the theme and the plugin work fine, so it must be something to do with my local environment. I have wp_debug etc turned on and errors **should** be logging into php.log but **aren't**, can you advise on some troubleshooting steps I could follow?

[2016-08-10 21:49] szepeviktor opened #1145 "Amout of Twig lib files loaded after caching"
Good morning!

![twig-memory](https://cloud.githubusercontent.com/assets/952007/17572392/8d303ec2-5f54-11e6-9e66-95e0e7b1d4d9.png)

This is an OPcache usage graph of the starter theme with `Timber::$cache = true`

Would it be possible to load less Twig lib files?
e.g. Twig/ExpressionParser.php is 128 kB of OPcache byte code.

[2016-08-10 21:52] szepeviktor opened #1146 "Conditionally load Timber classes"
Would it be possible to conditionally load as much as possible?
admin, wp-cli, acf etc.

A typical load:

[code]

static = wp-content

[2016-08-10 21:54] szepeviktor commented on #1146
For example on a very simple AJAX call we may not need Timber at all.

[2016-08-10 22:00] szepeviktor opened #1147 "Clean up dependencies before release"
Would it be possible to remove all files (tests, docs etc.) from the `vendor` directory during the plugin release process?

[2016-08-11 00:20] Rocketpilot commented on #1143
Further addendum: on my clean install in my work localhost environment I removed the timber-library plugin I'd already installed, activated wp native debug logging and tried re-installing via WP-CLI. The following errors were logged:

[code]

[2016-08-11 00:21] jarednova commented on #1143
Thanks @Rocketpilot — I assume that's with the current version of Timber? (v 1.1.2)?

[2016-08-11 00:22] Rocketpilot commented on #1143
@jarednova indeed! About to show the plugin screen as requested...

[2016-08-11 00:25] Rocketpilot commented on #1143
Dropbox link to screengrab https://www.dropbox.com/s/vbe6zazjop7ecc9/Screenshot%202016-08-11%2010.22.49.png?dl=0

[2016-08-11 12:39] leonmanifesto commented on #1129
Any update with this?

Seems like a pretty major issue.

[2016-08-12 07:21] vilpersson opened #1149 "Timber 1.1.2: get_post cannot handle post classmap array"
In Timber 1.1.2 you can't use classmap array when retrieving single post:
[code]
This gives you an error:
[code]

Mapping post types to classes worked previously also with `get_post` method. New behavior was introduced in this pull request: https://github.com/timber/timber/pull/1123

Classmapping is a superb feature, I can create appropriate classes for every post type. Now I have to know the post

[2016-08-12 07:30] haroldangenent opened #1150 "Sideloading files with uppercase extensions downloads file each view"
### Expected behavior

When sideloading an image, it should be downloaded once and served from this location each consecutive time.
### Actual behavior

When using an image with an uppercase extension, it is downloaded _each page view_. This easily results in hundreds of images after only a few days.

_Quick fix for two issues, not recommended in production: https://github.com/timber/timber/issues

[2016-08-13 22:54] codeforte opened #1151 "Using Timber starter theme with Events Calendar Pro"
I'm very new to Timber/Twig, but my company has started using it. In order to learn it better, I'm doing a side project that uses Events Calendar Pro. Right now, I just have a local MAMP Pro install running. I would've expected to create a "tribe-events" folder and a default-template.php in the starter theme folder, then create a twig file that incorporates the ECP functions from their default-tem

[2016-08-15 16:51] twentyfortysix opened #1152 "Use of "cat" makes the Timber query goes nuts"
### Expected behavior
I run this query in the index on the blog page:
[code]

What I expect to see is 1 most recent post from category with id 88. Instead I got 10 latest posts without category preference (seams like the use of "cat" completely ruins the call, and the default is used instead).

On the contrary if  use this:
[code]

I receive 1 recent post from desired category

### What version of

[2016-08-15 19:07] twentyfortysix opened #1153 "get_preview takes tags into account"
### Expected behavior

post.get_preview(40, true, __('more'), false)
or
post.get_preview(40, true, __('more'), true)

I get various numbers of words. Because the number of words is counted all together with tags in text as well.
And as users are pigs and paste the text in to Wysiwyg fields as is, with dirty formatting the get_preview returns in some cases 19 words, in others 25, and so on and so .

[2016-08-15 20:46] paoloposo opened #1154 "Checking TimberPost.thumbnail against NULL in template prints warning message"
### Problem
When trying to check whether `post` (which is an instance of `TimberPost`) has a featured image / thumbnail, a warning is displayed on the site:

My twig looks like this:

	{% if post.thumbnail is not null %}
		<div class="img-container post-image">
			<img src="{{ post.thumbnail.src }}">
		</div>
	{% endif %}

The warning is thrown by the conditional tag, where it says `post.thumbnail

[2016-08-16 08:36] connorjburton commented on #1152
#951 may be related, although at a quick glance, I experienced the opposite.

[2016-08-16 08:49] twentyfortysix commented on #1152
confirmed
`'category' => 88 `
works

[2016-08-16 12:41] jarednova commented on #1149
closed by #1155

[2016-08-16 12:42] fafiebig opened #1156 "Timber and Azure Blob CDN Media Files"
### Expected behavior

post.thumbnail.src should deliver the cdn path to the desired image (wp post thumbnail works like this)
### Actual behavior

post.thumbnail have a concatenated path as guid set (but corrupt path - //)
the post.thumbnail.src is a useless path concatenation of absolute web url and srv path.
### Steps to reproduce behavior

install/enable azure blob plugin and setup a storage (

[2016-08-16 14:57] jarednova commented on #1152
@twentyfortysix @connorjburton weird! I'm taking a look at this now.....

[2016-08-16 15:00] connorjburton commented on #1152
@jarednova it's an inconsistency in Wordpress core, I was amazed when I figured it out, I can't think of a good reason they accept different parameters for the same thing.

[2016-08-16 15:34] jarednova commented on #1152
Wow, that is maddingly stupid. I've got PR #1157 to fix this

[2016-08-16 16:01] jarednova commented on #1154
hmmmm, thanks for the note @paoloposo. I'll take a look. The code for thumbnails hasn't changed in quite a bit — I wonder if this might have to do with a new WP version? The warning comes from WP core, not Timber

[2016-08-16 17:38] #1152 closed

[2016-08-16 17:38] #1154 closed

[2016-08-16 17:39] #1149 closed

[2016-08-16 17:39] #951 closed

[2016-08-16 17:40] jarednova commented on #951
close by #1157

[2016-08-16 18:17] paoloposo commented on #1154
The issue resolved itself in the meantime. I literally didn't do anything. When I got back to work, the warning didn't show anymore. As you said, must have been a problem in the core.

[2016-08-16 20:08] stacyk opened #1158 "Create a new (or extend) the post.author objects"
Hi there,
My client is using the Co Authors Plus plugin and the author displayed via the post.author is often incorrect. I have tried many things but perhaps have implemented them incorrectly.

Here are a few things I have tried:

1. Extending a Timber Object (which is the most confusing to me, but I think that is what I need). I followed the [Wiki](https://github.com/timber/timber/wiki/TimberPost

[2016-08-17 08:08] chetzof commented on #1151
I remember having a  problem with this plugin, turned out that timber is not calling all the necessary functions and hooks that plugins rely on. I think it was `get_header()` that was missing, but I may be wrong.

Make sure you've implemented this https://github.com/timber/starter-theme/blob/master/header.php

[2016-08-17 11:24] vilpersson commented on #1064
Just tried to switch from the plugin to the Composer version, and got the same error.

WPML is also using Twig with some email templates, and If you install Timber via Composer to a theme, the one included in WPML is used first since plugins are loaded earlier than your theme.

WPML includes Twig in very sketchy way in the main plugin file `sitepress.php`:
[code]

So you can't do anything to this

[2016-08-17 19:34] twentyfortysix opened #1159 "TimberTerm : different behaviour in php and twig file"
### Expected behavior

when I call this in index.**php**

[code]

Which is what I expect.

But in **twig**:

`{% set zp_term = TimberTerm('34', 'publication_type') %}`
I receive this

[code]
### What version of WordPress, PHP and Timber are you using?

WordPress 4.5.3,PHP Version => 5.6.20, Timber 1.1.2

[2016-08-17 20:26] Daronspence opened #1160 "Shiny Updates Visual Bug"
### Expected behavior

The info should be in one line. I expect this is due to how 4.6 parses the info for shiny updates

### Actual behavior

![screen shot 2016-08-17 at 3 23 24 pm](https://cloud.githubusercontent.com/assets/4062087/17751890/dacf66fa-648e-11e6-8463-d15f49c5f690.png)

### Steps to reproduce behavior

Upgrade to WP 4.6, then rollback the timber version number manually to force an u

[2016-08-17 22:35] Rocketpilot commented on #1143
I can confirm 1.1.3 also fails to run on my local development environment. It does work in my org's staging environment but that continues to make development difficult. Version 1.0.3 does work, however, so I have reverted to that for my active projects.

[2016-08-19 01:24] orest22 commented on #1064
@vilpersson yeah I understand that, WPML = headache, always :(

[2016-08-19 16:23] benedict-w commented on #838
+1

[2016-08-19 20:39] hyperbrave opened #1161 "Twig Lexer"
Is there any documentation, or suggested means of setting the Lexer that Twig uses with Timber?

### Expected behavior
I would like to set the Twig Lexer using Timber.

### Actual behavior
I've attempted to set the Lexer inside of a 'timber/twig' filter, which results in a fatal error.
[code]

### Steps to reproduce behavior
[code]

### What version of WordPress, PHP and Timber are you using?

Tim

[2016-08-19 20:56] hyperbrave commented on #1161
Nevermind, found a hook where setting the twig lexer works:  'timber/loader/twig'

[code]

[2016-08-19 20:56] #1161 closed

[2016-08-20 15:24] portalzine opened #1162 "PHP Strict Error when setting template locations via Timber::$locations"
Hi,
PHP Throws an error ("Only variables should be passed by reference"), when setting Timber::$locations.

Example:

[code]

Thanks
Alex

[2016-08-20 15:39] squibbleFish opened #1163 "Custom headers for different page templates."
I suspect that the answer will be in using content blocks, but I wanted to get an idea from your team first. We are currently evaluating moving to Timber as a plugin as we have too many theme files to migrate at this time. So we want to start on a template by template basis.

My question is about dynamic headers in Timber and in Wordpress. Normally, in the Wordpress template architecture, you can

[2016-08-20 17:52] twentyfortysix commented on #1163
What if you specify the header in the base.twig
[code]

and in what ever template you want to overwrite the base header by new one, for example in the archive.twig you would do:
[code]
This will overwrote the block head with the newly specified header content.
http://twig.sensiolabs.org/doc/functions/index.html

this way you can define what ever head (any content part) you like in what ever situat

[2016-08-20 18:06] twentyfortysix commented on #1136
new TimberPost is a new instance of the TimberPost object/Class.
whereas TimberPost:get_post() only sends value to the static function "query_class" inside TimberPost class.

This question relates to PHP not Timber or Twig it self.
https://github.com/timber/timber/blob/master/lib/PostGetter.php
http://php.net/manual/en/language.oop5.static.php

[2016-08-21 01:37] xavivars commented on #1136
Hi @twentyfortysix,

Thanks for your reply. I understand the difference from the syntax point of view. I'm familiar with object oriented programming.

My question was more about what is the "actual" difference between doing those two things: does one of them give you access to some data the other one does not? Is any of the two calls preferred over the other one?

As I said, the static method is n

[2016-08-22 10:17] ogrosko opened #1164 "[BUG] \Timber\TermGetter wrong default $TermClass"
Using \Timber\Term class I'm getting following error:
`Fatal error: Class 'Term' not found in /wp-content/plugins/timber-library/lib/TermGetter.php on line 82`

When I change default $TermClass from `Term` to `\Timber\Term` in `\Timber\TermGetter`

`public static function get_term( $term, $taxonomy, $TermClass = 'Term' )` -> `public static function get_term( $term, $taxonomy, $TermClass = '\Timber

[2016-08-22 12:46] jarednova commented on #1164
Closed by #1165

[2016-08-22 12:46] #1164 closed

[2016-08-22 16:24] scynetpro commented on #824
`add_filter('timber/term/meta/field', 'fix_damn_timber_bug', 10, 4);

function fix_damn_timber_bug ($field_value, $id, $field_name, $term) {
    return $field_value = get_term_meta($id, $field_name, true);
}`

[2016-08-22 20:24] stacyk commented on #1158
I am able to get the correct author's posts to show up on the author.php archive, but I think my issue is using {{ post.author.name }}. It is querying the correct posts, but then when it tries to display the author name using that format I can't seem to override that.

[2016-08-23 03:00] hrsetyono commented on #217
@connorjburton +1. Would appreciate this feature or temporary solution. Thanks

[2016-08-23 14:31] jarednova commented on #1160
Closed by #1167

[2016-08-23 14:31] #1160 closed

[2016-08-23 18:24] jarednova commented on #838
@benedict-w and @ruscon check out #1168! This will be part of Timber 1.1.4 (released week to wp.org)

[2016-08-23 18:24] #838 closed

[2016-08-23 23:00] jarednova commented on #1158
@stacyk building you a fix now!

[2016-08-24 00:07] incredimike commented on #379
Also encountering the same issue. Using Pro. Only returns the ID, even though "url" is set

[2016-08-24 01:10] jarednova commented on #217
Hey @hrsetyono @felipearosemena @jeremyzahner @Jaace — check-out #1170

[2016-08-24 02:29] jarednova commented on #1158
@stacyk — I've begun work on a `{{ post.authors }}` method you could use. I'd love your feedback on #1171

[2016-08-24 02:32] jarednova commented on #1158
@stacyk if you wanted to jumpstart this for the project you're working on...

[code]

You could use it in your templates like so...

[code]

[2016-08-24 03:23] jarednova commented on #1140
From what I can tell, this is an underlying issue with Twig that's beyond the scope of this project

[2016-08-24 03:23] #1140 closed

[2016-08-24 05:02] stacyk commented on #1158
Hi @jarednova. Thank you so much for checking into this issue and providing these snippets. I have added everything and this is what I notice:

1. On my single page it now displays the original author and the person who was reassigned as the only author via the Co Authors Plus plugin. However, the original author shouldn't be listed anymore. Not sure if it is grabbing the original WP author and th

[2016-08-24 13:00] jarednova commented on #1158
@stacyk — almost there! The only other tweak you need is to use your `TropPost`s on the archive page...

[code]

... this will take resulting posts from Timber::get_posts and treat them as `TropPost`s, as for the original author being included, here's the modification to make...

[code]

[2016-08-24 14:45] stacyk commented on #1158
You are my hero!!!! Thank you so much. Closing :)

[2016-08-24 14:45] #1158 closed

[2016-08-24 14:55] twentyfortysix opened #1172 "Warning: is_a() expects exactly 2 parameters, 3 given in /var/www/..../wp-content/plugins/timber-library/lib/PostGetter.php on line 121"
### Expected behavior

see no error ;)
### Actual behavior

Warning: is_a() expects exactly 2 parameters, 3 given in /var/www/..../wp-content/plugins/timber-library/lib/PostGetter.php on line 121

the error shows up only on the hosting, not on local, so I think it has something to do with PHP version.
### Steps to reproduce behavior

term.get_posts();
### What version of WordPress, PHP and Timber

[2016-08-24 14:59] jarednova commented on #1158
🎉 !!!

[2016-08-25 20:43] shackep commented on #954
I am also having this issue. Initially I was only getting parents. I created a macro that referred to itself if the current comment had children to create depth. I can only get comments two levels deep.

[2016-08-25 21:57] jarednova commented on #217
Closed by #1170 — release on Tuesday!

[2016-08-25 21:57] #217 closed

[2016-08-25 22:06] jarednova commented on #1172
Indeed, according to the docs that third parameter was added in 5.3.9:

http://php.net/manual/en/function.is-a.php

... I'll look at using `instanceof` which seems to be the preferred method

[2016-08-26 15:39] RadoslavGeorgiev commented on #1118
@jarednova why are you associating the pagination with a `PostsCollection`?

I think it would make more sense to associate it with `QueryIterator` and to use the native WordPress pagination.

This way, if you also include a `$query` element in `Timber::get_context()`, which wraps the main `$wp_query`, even in the default templates, like archives and posts page, you would be able to simply use `que

[2016-08-27 03:39] advaitju opened #1175 "TimberMenu not working correctly for keys other than 'menu'"
### Expected behavior
TimberMenu when assigned to any key in the context should work the same. However, I'm working on the Timber Starter Theme and I have unable to create/assign menus properly.

### Actual behavior

The issue is twofold: when I assign the menu to anything other than `$context['menu']` Twig doesn't process it at all (no output).

Secondly, when I pass parameters to TimberMenu(), w

[2016-08-27 15:56] samuel-hauser commented on #1128
same for our website, we got over 48'000 transient-entries in the 'wp-options' table and 'time to first byte' took up to ten seconds...

--> as soon as we stopped caching via timber 'time to first byte' was "normal" again.

[2016-08-28 09:35] advaitju commented on #1175
This was an oversight on my behalf, missed a critical piece of the code from base.twig that passes the appropriate menu to the included menu.twig file.

[2016-08-28 09:35] #1175 closed

[2016-08-29 09:21] jasperrooduijn commented on #657
Any news on this?

[2016-08-29 12:18] Beee4life commented on #546
I know it's a late comment, but why not use
`{{ function( 'the_content', '', true ) }}`

[2016-08-29 13:00] drieschel commented on #1143
I also have problems running version 1.1.3: The composer autoloading doesn't seem to work correctly, because it can't find the Timber classes (Maybe some namespace related changes?). Is there some news?

[2016-08-29 22:03] kmmathis commented on #1129
I can confirm this bug. Has anyone found a way to fix this?

[2016-08-29 22:29] Rocketpilot commented on #1143
@drieschel could you document briefly how you fixed the problem? In my case it seems very specific to my local development environment's PHP version as I've deployed 1.1.3 elsewhere without issue.

[2016-08-29 22:52] jarednova commented on #1143
@drieschel You are correct that loading behaviors changed. In 1.0 this was the introduction of namespaces and in 1.1 this was removing autoloading for composer. This is documented in readme.txt, but is there a standard documentation format or location that would help publicize these changes better?

The thing is these changes _shouldn't_ cause the issues that @Rocketpilot is having as the distribu

[2016-08-30 11:28] doifeellucky opened #1177 "How do I display a 'sticky' post as the first entry in a list of posts with a specific category?"
### Expected behavior

I have posts for 'news' and 'case studies' and would like to be able to have a 'sticky' 'case study' so that it is at the top of the list instead of by most recently added.  I can see no mention in the documentation relating to 'sticky' posts so don't know how this can be achieved.  I've tried using a 'sticky' category which is fine, except I then see duplicated entries as I

[2016-08-30 13:50] doifeellucky commented on #1177
I'm using advanced custom fields so if using that and having a 'feature' field is a better way of doing it I'm happy to do that instead of using categories.

[2016-08-30 14:08] jarednova commented on #1177
Hey @doifeellucky — this feels like a WP_Query problem more than a Timber issue. Everything we use is just based on the defaults from WP_Query. That said, here's a stab based on what you describe...

[code]

[2016-08-30 14:08] #1177 closed

[2016-08-30 14:10] doifeellucky commented on #1177
Thanks very much.  I'll give this a try.

[2016-08-30 14:17] kmmathis commented on #1129
As a temporary fix, I literally removed lines 113 through 118 of Site.php. Not sure what the repercussions of this are, as I don't really know what this code is doing.

[code]

[2016-08-31 06:22] mahagr opened #1178 "Timber 1.1.4 breaks API compatibility"
### Expected behavior

Public API should not change on bugfix releases.
### Actual behavior

Public API change causes Gantry to break: https://github.com/gantry/gantry5/issues/1542
### Steps to reproduce behavior

Install Gantry and upgrade Timber from 1.1.3 to 1.1.4
### What version of WordPress, PHP and Timber are you using?

WordPress 4.6, PHP 7, Timber 1.1.4, Gantry 5.3.4
### How did you insta

[2016-08-31 06:25] mahagr commented on #1178
One way to fix this would be to add a new function(s)/attribute which allows both `\Twig_Loader_Filesystem` and `\Twig_Loader_Chain` to be returned.

[2016-08-31 17:36] drieschel commented on #1143
@jarednova You could mention it in the upgrade guide (https://github.com/timber/timber/wiki/1.0-Upgrade-Guide). I also didn't realize that I have to instantiate a Timber object in the functions php additional to a Site inherited object. I probably don't need the Site inherited one anymore, because I don't have a multi site but it's working fine (using it for the default functions.php stuff).

[2016-09-01 16:18] ghost opened #1179 "Timber and ACF Live Edit"
I use ACF Live edit plugin. https://wordpress.org/plugins/live-edit/
This plugin hase live_edit(); function, with some parameters of ACF Fields etc. live_edit('field_name1, field_name2, etc');

Hove I send live_edit('field_name1'); to .twig file and display?

[2016-09-01 18:06] lggorman commented on #1118
@RadoslavGeorgiev I like pagination associated with the PostsCollection largely because it seems intuitive from an API perspective, e.g. `{% for page in posts.pagination.pages %}`.  But I can also see the logic in using the `QueryIterator`.  I'm not quite clear -- what would that look like on the php side, in terms of setting up the context?

[2016-09-01 23:13] lancemonotone opened #1180 "\Timber\Site\__construct breaks image srcset"
### Expected behavior

Should get srcset image urls like "/files/image_name.jpg".
### Actual behavior

Instead srcset image url is "wp-content/blogs.dir/blog_id/files/<image_name>.jpg". This prevents scrset from displaying responsive images.
### Steps to reproduce behavior

Broken code

**return switch_to_blog($blog_ids['old']);**

[code]

Working code

**return restore_current_blog();**

[code]
#

[2016-09-02 11:15] fewerflatlands opened #1181 "Composer version of Timber won't retrieve data from ACF Repeaters (plugin version works fine)"
### Expected behavior
Trying to iterate over data from ACF Repeater fields using the orthodox syntax eg. `{% for item in post.get_field('products') %}`
It wasn't working with Timber installed via Composer, so I removed the Composer version and its dependencies and installed the plugin instead, and it all works fine.
Other ACF fields are not affected as far as I can see.

### Actual behavior
With t

[2016-09-02 11:47] mahagr commented on #1181
Try initializing Timber in `functions.php` by calling `$timber = new \Timber\Timber();`.

That's the only thing what plugin does besides initializing autoloader..

[2016-09-02 11:58] fewerflatlands commented on #1181
This does indeed solve the problem – missed this in the documentation. Thanks for the quick answer and apologies for the wasted time.

[2016-09-02 11:58] #1181 closed

[2016-09-02 11:59] mahagr commented on #1181
We're on the same boat on this one. Took me some time to figure it out.

[2016-09-02 12:03] codemonkey-jack opened #1182 "Dynamic Sidebars and Timber::get_widgets causing a 500 internal server error."
### Expected behavior

The sidebar should be outputting the widgets specified in the wp-admin.

### Actual behavior

I have a WordPress Theme Framework that uses Timber, you can find that here: https://github.com/codemonkey-jack/maera

It's working great in most instances, but on some hosts and using Mamp Pro locally 500 internal server errors keep happening and make the theme unusable.

I've trac

[2016-09-02 18:33] codemonkey-jack commented on #1182
Closing this out. It was actually an issue with my framework with my implementation of a custom search form.

[2016-09-02 18:33] #1182 closed

[2016-09-03 06:55] mahagr commented on #1178
We have changed (and released) a change in Gantry 5.3.5 that creates a new `\Twig_Loader_Filesystem` class and includes it into the chain if the loader is a chain. This will mostly fix the issue for having a chain, though it would be better if there was a mechanism to get instance of `\Twig_Loader_Filesystem` so I wouldn't need to do that.

We use filesystem loader to add extra namespaces, which i

[2016-09-07 02:32] jusstinas opened #1184 "Template locations priority"
Seems like from version 1.1.\* it's impossible to add template location and keep priority if location is in WP template dir. LocationManager method get_locations move theme locations to the end of array. I think if user set custom locations he done that by priority.

[2016-09-07 15:17] ChrisSargent opened #1185 "Context with Multiple Shortcode Components"
Question:

I'm using timber to effectively build a page using a number of 'semi-self-contained' components (using shortcodes). I'm trying to find a way of sharing data between those components because sometimes one component should affect how another one should be displayed.

For example, I have a page with two components; a search form and a results component.

When you first load the page, I wan

[2016-09-07 17:37] montchr opened #1186 "Non-static method Timber\Timber::init() should not be called statically in timber/lib/Timber.php on line 262"
### Expected behavior

Timber should just work when calling `Timber::render()`.

### Actual behavior

Any time I load a page that uses `Timber::render()`, I get the following error with a similar call stack each time:

[code]

### Steps to reproduce behavior

This happens on every page using Timber so I cannot isolate the issue.

### What version of WordPress, PHP and Timber are you using?

WordPr

[2016-09-07 21:20] kingkool68 commented on #1186
Found this https://github.com/timber/timber/issues/979#issuecomment-224545836 don't know if it helps or not...

[2016-09-08 09:41] twentyfortysix opened #1187 "get_widgets misconception - documentation"
Hello,
I noticed one misconception in docs both, the docs here on Github (which I corrected) and the official docs
http://timber.github.io/timber/#get_widgets

the function get_widgets is defined like so:
`get_widgets( mixed $widget_id )`

What it says is that you have to pass there the widget ID, which is nonsense, as the widget ID is almost uncatchable and "unstable". What you/we really ask for

[2016-09-08 13:43] doifeellucky opened #1188 "What is the correct syntax for multiple 'has_terms'?"
From https://github.com/timber/timber/wiki/TimberPost#has_term I get the following but I want to use multiple terms.
[code]

I've tried the following with no success.

`{% if post.has_term('gallery','blog') %}`

Could someone please advise on how this is done.

Thanks

[2016-09-08 14:27] doifeellucky commented on #1188
Got the answer via @TimberWP.  Thanks.

`{% if post.has_term('gallery') or post.has_term('blog') %}`

Closing.

[2016-09-08 14:27] #1188 closed

[2016-09-08 14:29] hyperbrave commented on #1004
I might've experienced something similar.  single-product.php as below works fine unless I call Timber::get_post anywhere else, for example to load additional post data, after which all of the woo-commerce template files such as sale-flash.php, etc have a $product reference of null, instead of the one we assign below.  I got it to work again by moving the get_header() call to the top of single-pro

[2016-09-08 15:00] jarednova commented on #1186
@montchr can you try upgrading to Timber 1.1.5 and see if this still occurs?

[2016-09-08 15:29] montchr commented on #1186
@jarednova I upgraded and it still occurs.

[2016-09-08 15:33] montchr commented on #1186
That method is indeed being called statically in [`Timber\Timber` line 262](https://github.com/timber/timber/blob/master/lib/Timber.php#L262) on the master branch, but it's defined as a non-static method. I noticed this in some other places as well.

[2016-09-09 02:04] DarrenTheDev commented on #1130
I've had the same issue on other templates with a query string in the URL. Would be great if this fix was generalised to remove the trailing slash whenever a query string is present.

[2016-09-09 09:31] bravebox commented on #1117
Hi Jared, did you even figure out a solution? Thanks

[2016-09-09 19:50] jarednova commented on #1186
Thanks @montchr — looking into it now!

[2016-09-09 19:51] montchr commented on #1186
Thank you!

[2016-09-09 20:18] jarednova commented on #1162
@portalzine can you copy-and-paste the full error? (hopefully including a line number?) I'm not able to replicate yet....

[2016-09-12 11:14] jarednova commented on #1186
Closed by #1189

[2016-09-12 11:14] #1186 closed

[2016-09-13 08:34] SlawaGurevich opened #1191 "resize() in loop with if-clause breaks theme"
Hi Guys,

I have a strange problem with a loop in combination with an if-statement.

I have a loop, in which every picture is resized with the |resize()-function. It should resize the images and render them into the template.

However, when I include it in the template and reload the page, the whole theme breaks. Only the header is loaded and the Wordpress admin-topbar is also gone.

Part of the t

[2016-09-13 13:38] jarednova commented on #1128
@samuel-hauser @nateluzod @rbvea I've looked into this a bit more and have a patch in #1190, let me know what you think!

[2016-09-13 14:11] samuel-hauser commented on #1128
Looks like a way to go. When or where will the patch go into the plugin? (Sorry, if I ask so noobish, have no idea about the workflow of such "things")

[2016-09-13 14:51] chrisgherbert opened #1192 "Timber throw exception when trying to convert TIFF to JPEG"
### Expected behavior

Timber is able to handle the same image formats that WordPress can, including TIFF.
### Actual behavior

Timber throws an exception when a trying to convert a TIFF to JPG using the |tojpg filter.  I can understand not being able to do the conversion (not sure if PHP-GD can even do this), but an throwing exception seems like an extreme reaction.
### Steps to reproduce behavio

[2016-09-13 14:54] jarednova commented on #1192
Tiffs? Those bastards. Is this something you could look into submitting a PR for? I agree that if WP does it, Timber should too. Hopefully it could follow the same conventions as the PNG tools

[2016-09-13 14:56] jarednova commented on #1128
@samuel-hauser — we do releases every two weeks. The next one is actually scheduled for tomorrow AM though!

[2016-09-13 14:56] chrisgherbert commented on #1192
I'll check out the offending code and see if I'm comfortable enough with it to submit a PR.

[2016-09-13 14:58] jarednova commented on #1128
Closed by #1190

[2016-09-13 14:58] #1128 closed

[2016-09-13 17:46] nateluzod commented on #1128
@jarednova we'll check it out. Thanks!

[2016-09-15 19:06] montchr commented on #1186
👏

[2016-09-15 23:24] corradomatt opened #1194 "Post Pagination"
### Expected behavior

I would expect there to be something within the standard post object that handles paginated posts...or a method that can do that for us.
### Actual behavior

I don't see anything in the code for this functionality but maybe I'm blind.
### What version of WordPress, PHP and Timber are you using?

WordPress 4.6.1, PHP 5.6, Timber 1.1.6
### How did you install Timber? (for exam

[2016-09-15 23:26] corradomatt commented on #1194
Oh, by pagination in the post...I'm referring to what you would get with `<!––nextpage––>` -- usually I would use `wp_link_pages();`

[2016-09-18 22:54] hatzipanis opened #1195 "ACF with Timber::get_posts"
I have a `who.php` which has the following setup:

[code]

The `post_type` `staff` has a bunch of custom fields via ACF e.g. `age`. What is the correct way to send these to our Twig template so I can do things like `{{ team_member.age }}` similar to how I'm achieving `{{ lead }}` from the current post object?

e.g.

[code]

Thanking you in advance and for one of the best WordPress plugins around!

[2016-09-19 11:05] chetzof opened #1196 "Pagination next link does not always work"
The next link in pagination does not work, because it contains the "..." dots element.
Here's the error _Notice: Undefined index: link in /home/wp-content/plugins/timber/lib/Timber.php on line 451_

Dump of the `$data['pages'] = Helper::paginate_links($args);`
[code]
And it takes
`$current = $data['current'] - 1;` which is index number 9, which is the dots items. Any ideas?

Timber 1.0.5
PHP 5.5

[2016-09-19 13:08] lggorman commented on #1196
@chetzof Are you able to update to a more recent version?  I think this problem should have been resolved [here](https://github.com/timber/timber/commit/d31099097e0f27945ae4dc8e16becff92c6a5292), though it's definitely possible that your case falls outside the fix.

[2016-09-19 13:59] chetzof commented on #1196
Yikes, it seems i got left behind due to invalid version constraint in the composer. Updating solves the issue. Thank you!

[2016-09-19 13:59] #1196 closed

[2016-09-20 21:45] corradomatt opened #1197 "Error when using constructor while Extending Timber\Post"
### Expected behavior
I expect Timber/Post to be extended and allow me to add to the constructor while returning the same data as when I don't extend the constructor

### Actual behavior
When the query of the page is in a loop of posts (like on the archive page) the query is hijacked and only returns the first result for all posts in the loop.

### Steps to reproduce behavior
Build a class to exte

[2016-09-20 21:54] RadoslavGeorgiev commented on #1197
@corradomatt, the `__construct` method of `Timber\Post` expects a post ID as you can see in the [source code](https://github.com/timber/timber/blob/master/lib/Post.php#L176).

In PHP (your brackets suggest that you are used to something else), constructor arguments are not passed to the parent class automaticaly.

Your example shows that you are not receiving/forwarding that ID to the parent class

[2016-09-20 22:21] corradomatt commented on #1197
duh! **me == dumb** -- I used to know that but since I don't extend classes while also overridding the constructor I guess I forgot. Thanks for the response @RadoslavGeorgiev

[2016-09-20 22:21] #1197 closed

[2016-09-20 23:08] adamhoppinger opened #1198 "ACF Radio/True & False with if and else don't work properly with Timber"
So I currently have an ACF field running (tried both true and false and Radio) with 2 options where the user can pick a google maps or a slider as background for a page. If I use this code:

[code]

For some reason it doesn't seem to work and it doesn't pick either choices even if you select one or the other in admin panel.

However, when I use this code:

[code]

It always picks the else (even sw

[2016-09-21 03:53] CROSP opened #1199 "Timber with P3 Profiler"
### Expected behavior

Page loads correctly
### Actual behavior

Page loads with a lot of `Profiler P3` errors.
### Steps to reproduce behavior

Just open any blog page
### What version of WordPress, PHP and Timber are you using?

WordPress  4.6.1 , PHP 5.4, Timber 1.1.5

I got following errors after installing `P3 Profiler` plugin.

[code]

[2016-09-21 13:56] lggorman commented on #1198
@adamhoppinger What do you get if you `var_dump` the value of `post.get_field('background_selector')`?  With the true/false ACF field you may be able to use something like this:
[code]

[2016-09-22 17:27] adamhoppinger commented on #1198
Alright.. for some reason post.background_selector didn't work but posts.background_selector did. I'm not sure why using posts over post worked, but it did. I used the latter (post) somewhere else in the same if/else setup and for some reason worked?

[2016-09-22 17:27] #1198 closed

[2016-09-24 00:31] lithiumlab opened #1200 "Suggestion: Make a note about restoring original query in docs page about pagination"
When using Timber to generate a custom shortcode for displaying posts with pagination i found if no `wp_reset_query();` is used after constructing the output leaves the original query altered when `query_posts();` is used.

I suggest to add a note in the code example here:
https://github.com/timber/timber/wiki/Pagination

Something like this should restore the normal query after manipulation:

[co

[2016-09-25 12:51] SlawaGurevich commented on #133
Is there a solution for this issue yet? I am also trying to use the pagination for a single post. However, Timber just ignores the . This is what I get from the pagination dump.

array(4) { ["current"]=> int(1) ["total"]=> float(1) ["pages"]=> array(0) { } ["prev"]=> string(0) "" }

[2016-09-25 21:44] jarednova commented on #1199
Hey @CROSP! I tried running P3 on a couple of sites and wasn't able to replicate this issue.

<img width="1265" alt="screen shot 2016-09-25 at 5 39 02 pm" src="https://cloud.githubusercontent.com/assets/1298086/18818437/75e64088-8347-11e6-9295-cf6fe87936c3.png">

Could you let me know steps to reproduce?

[2016-09-25 22:31] corradomatt commented on #1194
It appears I've duplicated this issue - #133

Should I leave this open as the other is closed?

[2016-09-27 20:54] rbvea commented on #747
Just noting that if a TimberPost had an `authors` attribute (e.g. {{ post.authors }}, this commit would've broken it as it references the co-authors plugin now instead of the variable.

[2016-09-28 19:39] emmagard opened #1202 "Duplicate terms in different taxonomies block each other from rendering"
### Expected behavior

I have the term `Cats` in 2 different taxonomies. When I use `new TimberTerm($term_slug, $taxonomy)`, I expect the the constructor to return an object of the term in the taxonomy I specify (like using the WP function `get_term_by('slug', $term_slug, $taxonomy_singular)`).

`object(WP_Term)#492 (12) {
  ["term_id"]=>
  int(73)
  ["name"]=>
  string(4) "Cats"
  ["slug"]=>
  st

[2016-09-30 10:51] PatrickvandenBreemen opened #1203 "How to change local storage value to a post.title"
I am working on a form, in this from are checkboxes wherefrom the id is stored by localStorage when the checkbox is checked. Now i want on an other page to print the post.title of the saved id's in the localStorage, the only problem is that it now only print the id that is stored in the localStorage but what i want is that it print the post.title instead of the id's.

The JS code to save to the Lo

[2016-09-30 21:47] bambamboole opened #1204 "TimberMenu adds no current-menu-item class"
### Expected behavior
The active menu item should have class `current-menu-item`

### Actual behavior
The class `current-menu-item` of the active menu item is missing

### Steps to reproduce behavior
It's a fresh wordpress installation with 3 dummy pages

### What version of WordPress, PHP and Timber are you using?
Wordpress 4.6.1
PHP 5.6.20
Timber 1.1.6

### How did you install Timber? (for examp

[2016-10-01 05:31] josephnle commented on #1117
Also interested in a solution

[2016-10-01 10:17] bambamboole commented on #1204
Hi,

I made a mistake because I hadn't created a menu, I just had the standard menu which appears in a new wordpress.

now the classes are added to the menu

[2016-10-01 10:17] #1204 closed

[2016-10-02 16:26] CROSP commented on #1199
@jarednova Sorry for late response,
Just go to Plugin list. Select `Scan now` and click `Start scan` . It will bring popup window on the top of the page and I see following while testing

![2016-10-02_1925](https://cloud.githubusercontent.com/assets/5072318/19021962/14ad0b14-88d6-11e6-92bd-b448d9cead04.png)

[2016-10-02 17:20] halian-vilela commented on #1203
Hi @PatrickvandenBreemen

Why don't you simply store the title directly in the HTML using a `data-` attribute? Then you will just have to print it with no major issues.

I also would change the  name of some variables do avoid confusion, you are using `post` a lot of times in  your loops, it could make debugging a little bit harder.

[2016-10-03 09:08] ChrisManganaro commented on #1058
+1

I've experienced the same issue when running Wordpress with [Bedrock](https://github.com/roots/bedrock), it changes the default content directory and install location for Wordpress.

[2016-10-03 09:38] mahagr commented on #1058
+1

Its also an issue if you have Timber library installed, but local version in your own theme. Timber plugin registers and initializes itself as soon as the plugin php file gets loaded, which causes issues if theme uses different version of Timber.

[2016-10-05 03:59] alicam commented on #1179
Last updated 2 years ago? I think Elliott has abandoned it!

[2016-10-05 04:01] alicam opened #1205 "Full implementation of WordPress comments??"
I may be missing something but I can find nowhere "in the wild" an implementation of Timber/TWIG that properly manages WordPress commenting, by which I mean both nested comments and the comment form.

I would have thought this would have been a pretty fundamental requirement?!

Has anyone got some code I could work off? Anyone seen anything?!

A

[2016-10-06 19:19] infn8 commented on #750
You can also register enqueue scripts in the 100% regular old WP way.  The example above works, not because of some twig magic, but because calling
[code]
in the ```__construct``` function is just another example of a php line that always runs.  you could also just drop
[code]
in the basic body of ```functions.php``` and then just call your function ```myLoadScripts``` and be done with it.

For th

[2016-10-13 21:33] bfred-it commented on #311
I just started using Timber and I'm really missing relative paths resolution.

I can do `include file.php`, `require('./file.js')`, `@import 'file.scss'` but not `include file.twig` :(

[2016-10-14 14:56] robertcrenteria commented on #362
@jarednova your solution almost works but for some reason it only returns the first item of the relationship items. I'm assuming it's because of the [0] but when I remove that it doesn't return anything. Any ideas? Thanks a bunch. My relationship field is a part of an acf options page.

`
{% for item in options.the_mountain %}
    <div class="submenu">
        <h4 class="black-text">{{item.menu_ti

[2016-10-15 19:36] lithiumlab opened #1209 "A solution for grouping items in loop"
Often i need to do some tricky layout on dynamic elements like galleries.
Here's one example:

[code]

I've managed to do it with the following snippet. But i wanted some suggestions if possible about how to make it more flexible or more simple, like grouping by any number. Maybe using cycle() or any other method. I was getting strange results using the slice() or array[1:2] notation.

[code]

Any

[2016-10-15 21:15] dptty commented on #1195
Like this?
[code]
There is more about ACF in the [docs](http://timber.github.io/timber/#acf-cookbook).

[2016-10-17 08:38] piotrkulpinski opened #1210 "Add support for WordPress Site Icon"
Hi guys,
Does Timber support Site Icons that can be set in the Customization screen of WP?
https://developer.wordpress.org/reference/functions/get_site_icon_url/

If not, do you plan to implement such function?
I know that I can display it using Timber function wrapper, but I'd love to see this built into the global `site` `($this)` Timber object.

Thanks, Piotrek

[2016-10-17 12:24] chetzof commented on #1130
The issue is still present with custom query string
`/properties/page/2/?area=1;100&bedroom_from=1&bedroom_to=1/`

[2016-10-17 19:47] mvaneijgen opened #1211 "Get ACF oEmbed url"
### Expected behavior

Get `url` with `{{post.get_field('video', FALSE, FALSE)}}`

### Actual behavior

Just get the whole oEmbed element `<iframe width="200" height="113" src="https://www.youtube.com/embed/fH62GWeyyJo?feature=oembed" frameborder="0" allowfullscreen></iframe>`

### What version of WordPress, PHP and Timber are you using?

`5.5.31`
### How did you install Timber? (for example, from

[2016-10-18 13:15] j-greig opened #1212 "Problem getting TimberHelper::function_wrapper to work with mc4wp_get_form"
I'm trying to pass an array to the [mc4wp_get_form](https://mc4wp.com/kb/arguments-in-shortcode/) function that includes an element_id, but I can't get it to work.

Like so....

`$context['newsletter_signup'] = TimberHelper::function_wrapper( 'mc4wp_get_form', array(
		'element_id' => 'extra-css-id-here',
		'id' => '516',
	)
);`

Is something wrong with my syntax?

Thank you!

### What version of

[2016-10-18 13:21] bambamboole opened #1213 "Add item.is_active to TimberMenu items"
It would be very nice to get a possibility to check if the menu item is the current active item.

Example:
[code]

I don't know if it's hard to implement something like this, but I think I'm not the only one who would love to have a method like this.

cheers

[2016-10-19 18:56] mvaneijgen commented on #1211
Finally found it! You should give `$context['video_url'] = get_field('video', FALSE, FALSE);` to you page options. So for me this is `single.php` and it looks like this

[code]

Than in side you can use `{{video_url}}` to get the url.

[2016-10-19 18:56] #1211 closed

[2016-10-19 23:01] mikehwagz opened #1217 "ACF repeater rows, footer, and admin bar missing from page"
### Expected behavior

Slowly, one page/ui component at a time, I am using Timber to rebuild a university political review site. First page to rebuild was the team page. I started by making a local copy of the site and creating a child of the current theme (Bucket by PixelGrade). Using an ACF Repeater (a row for each team member), I effortlessly created a beautiful team page whilst sipping coffee

[2016-10-20 00:10] halian-vilela commented on #1217
From your example what I would do at first is drop using `get_header()` and `get_footer()` and try to match the solution from the Timber Starter Theme as well, where the call for this parts of the structure are from within Timber itself ( in `base.twig` ).

Probably most of the issues you are facing are due to the lack of `wp_head()` and `wp_footer()` being propely fired, so you have no proper jav

[2016-10-20 03:26] halian-vilela commented on #1211
Nice! Good to know!

[2016-10-20 18:19] mikehwagz commented on #1217
@halian-vilela Thanks for the response. I will try to match the solution from the Timber Starter Theme and let you know if that helps.

Regarding your edit, the repo you are looking at is a child theme, so the header.php and footer.php templates are located in the parent theme.

[2016-10-20 20:58] luukdv commented on #1213
If it's just for having an 'active' class, you could do `<li class="{{ item.classes|join(' ') }}`> and use the added `.current-menu-item` class.

[2016-10-20 21:09] luukdv commented on #1212
I don't have any experience with `mc4wp`, but based on https://github.com/ibericode/mailchimp-for-wordpress/blob/master/includes/forms/functions.php#L12 it looks like it only accepts one argument (the form ID). Examples:

`$context['newsletter_signup'] = TimberHelper::function_wrapper('mc4wp_get_form', array(516));`, or `$context['newsletter_signup'] = mc4wp_get_form(516);`

Or from Twig:

`{{ fn(

[2016-10-20 21:25] luukdv commented on #1205
You could try something like this (simplified):

[code]

[2016-10-20 21:33] luukdv commented on #1191
I'm not seeing any obvious faults in the code above, what error does your `wp-content/debug.log` give?

[2016-10-20 21:42] dannyvankooten commented on #1212
Wrapping `mc4wp_show_form` instead should do the trick.

[2016-10-20 21:44] luukdv commented on #1033
When using `Timber::render('filename.twig', $context)`, you can use your context variables anywhere in the twig file. Maybe you can post some code snippets that can clarify your use case a bit?

[2016-10-20 21:52] luukdv commented on #541
Setting both arguments on the `resize` filter will actually hard crop your image, you can do soft crops by omitting one of the arguments or using letterbox. See http://timber.github.io/timber/#image-cookbook.

[2016-10-21 08:09] j-greig commented on #1212
@dannyvankooten Thanks for the fast reply. I made your change but now get an error message about using a string:

`[21-Oct-2016 08:08:20 UTC] PHP Warning:  Illegal string offset 'element_id' in /Users/james/Git/greigcc/wordpress/wp-content/plugins/mailchimp-for-wp/includes/forms/class-output-manager.php on line 110
[21-Oct-2016 08:08:20 UTC] PHP Warning:  Illegal string offset 'element_id' in /Use

[2016-10-21 08:34] dannyvankooten commented on #1212
I have no hands-on experience with Timber but the function signature of `mc4wp_show_form` is as follows:

[code]

So the first parameter is the form ID, the second is an optional array of configuration values (same as shortcode parameters and the third is whether to immediately echo the form HTML.

Given that, I think the Timber wrapping code should look like this:

[code]

I might be wrong on the

[2016-10-21 09:13] j-greig commented on #1212
@dannyvankooten Thanks Danny, this fixes it!

Only problem is that using mc4wp_show_form makes the form be displayed twice — it's not an option to use mc4wp_get_form, correct?

[2016-10-21 09:28] dannyvankooten commented on #1212
Hi James,

In that case, Timber is also echo'ing the return value of the function. That's where the third parameter `$echo` comes into play. :-)

[code]

[2016-10-21 09:34] j-greig commented on #1212
Yaaaas. Fixed. Thanks for your help.

[2016-10-21 09:34] #1212 closed

[2016-10-23 07:37] bambamboole commented on #1213
and handle this myriad of trash classes from wordpress? thats what I don't want... I try to build a clean wordpress site without all these unusable classes...

[2016-10-23 07:58] roylodder commented on #1213
You can check if an item in your loop is current by using:
[code]

[2016-10-23 14:04] tnottu commented on #1209
There is a [batch filter](http://twig.sensiolabs.org/doc/filters/batch.html) in Twig which should do what you're asking. For example:

[code]

[2016-10-24 08:57] stevegibbings commented on #248
The large WordPress project I'm working on has the need to have to put templates in plugin folders but still be able to override them in a theme.  I get set $locations to get the plugin versions to be picked up but if I have a version overriding it in my theme it never gets picked up, always the plugin version is used.

It doesn't seem to matter if I include the theme folders or not in setting $lo

[2016-10-24 21:19] Daronspence commented on #824
So what needs to be done to get this merged into Timber core? Do we need a new method on the Term object that does the standard term meta lookup introduced in 4.4? I'd be happy to take a look at it over the next week or two if I have some time.

[2016-10-24 22:34] codesman commented on #1192
@chrisgherbert , I did a little digging into this and I found that `gd` is not capable of converting tiff->jpg(or anything else). ` ImageMagick` is required to do this in PHP.

According to [the codex](https://codex.wordpress.org/Uploading_Files) `.tiff` is not a supported upload format, even though by default they are allowed to be uploaded. A common solution to the problem of users uploading .ti

[2016-10-24 22:50] chrisgherbert commented on #1192
Uploading a tiff is something that would likely happen in response to an end-user action, rather than a developer's action.  If the site is correctly setup for production, the user wouldn't even see the error, so throwing an exception seems like a pretty harsh reaction.

Also, I don't think it throws an exception when you attempt to resize an SVG, which is equally unable to be resized.

[2016-10-26 13:37] haroldangenent opened #1221 "Post->get_terms() not compatible with Post->terms()"
### Expected behavior

`Post->get_terms()` (deprecated since 1.0) being backwards compatible.
### Actual behavior

Not compatible, `Post->get_terms()` doesn't receive the `$TermClass` parameter anymore.
### Steps to reproduce behavior
1. Use `Post->get_terms()` with another `$TermClass` before 1.0
2. Upgrade to 1.0+
### What version of WordPress, PHP and Timber are you using?

WordPress 4.6.1, lat

[2016-10-26 14:27] haroldangenent commented on #1221
By the way, the issue seems to be created in https://github.com/timber/timber/commit/6b2f438d6ae6f2f889aea56e6cdd479f0d135d7b.

[2016-10-26 18:19] moazam1 opened #1223 "Conditionally enqueue scripts based on route"
I have following route:

`Routes::map('photo/:name', function($params){
    Routes::load('page-templates/template-photo.php');
});`

I would like to add scripts/styles for this route. I have created page template and then I am adding below code in my `wp_enqueue_scripts` action:

[code]

WordPress is not recognizing the photo template, I believe the reason is that I haven't created page and assign

[2016-10-26 18:46] kylehotchkiss commented on #996
If you still get this issue, I want to expand on @jarednova's earlier response about caps - all three directories need to be capitalized in `/lib`.

[2016-10-26 19:45] motia commented on #1213
You can create a twig filter and use it in your templates:
[code]

[code]

[2016-10-26 21:09] moazam1 commented on #1223
I was able to get page name from `get_query_var('pagename')` Not sure if this is the best approach to do this task. Your feedbacks are highly appreciated.

[2016-10-27 01:03] moazam1 commented on #1223
I solved this problem by using `get_query_var('name')` in my `wp_enqueue_scripts` action call. I would like to see this feature in Router i.e. Route::isPage('photos').

The above method does not work for URL structures like this:

[code]

[2016-10-27 14:32] bambamboole commented on #1213
the method @roylodder supplied, is the best in my opinion.

It should find the way to the docs...

Thanks for all the advices!

closed :-)

[2016-10-27 14:32] #1213 closed

[2016-10-28 00:01] alicam commented on #1205
Thanks @luukdv. I'm looking for a more thorough implementation that would not just use `fn('comment_form')` but instead would really break it out in to twig vars, etc. So I can style it, etc. I understand that's not trivial!

I've seen in another implementation of Twig (not Timber) that they've done nested comments and it also is not trivial.

A

[2016-10-28 13:45] haroldangenent opened #1224 "Transient documentation example seems wrong"
From http://timber.github.io/timber/#transient:

[code]

Should be `Timber\Helper` and just `$context['favorites']`.

[2016-10-28 16:55] feshin commented on #1172
Not sure whether this is the best way to give feedback, but I can confirm that this fix seems to work for me.

php version: 5.3.3
wordpress version: 4.5.3
timber version: 1.1.8 (with fix noted above)

[2016-10-28 17:49] tvanantwerp commented on #1156
Having the same issue with images stored in S3 bucket rather than server's own filesystem.  Using `{{post.thumbnail.src}}` fails. Here is the error info thrown using a local WAMP install for development, AWS RDS for dev database, and S3 for file offloading.

[code]

The path `C:\wamp\www\wordpress/wp-content/uploads/2016/10/JMW.jpg` should be an AWS S3 URL, e.g., `http://ourS3bucketdomain.com/2016

[2016-10-29 17:40] twentyfortysix commented on #1172
Confirmed , the fix fixes the problem.

[2016-10-31 17:03] jarednova commented on #704
For those wondering, we've shut down the Slack team in favor of Gitter:

https://gitter.im/timber/timber?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-10-31 17:07] jarednova commented on #1224
Closed by #1225

[2016-10-31 17:07] #1224 closed

[2016-11-01 11:47] ashrayer commented on #1195
Most clean way is to create your own class which extends TimberPost.
Then you create getters for the custom fields inside class.

More detailed docs are [here](https://github.com/timber/timber/wiki/Timber-docs#get_posts). See example of MyEvent class.

[2016-11-01 12:01] halian-vilela commented on #1195
Hi @hatzipanis !

This should work exactly as in your example. Unless the field you're trying to reach is inside a repeater field, Timber will provide you free access to the ACF just by calling it's by name. So, as in your example it should echo `{{ team_member.age }}` with no problem.

If you look at the `TimberPost` docs, in the properties section, this becomes crystal clear: https://github.com/

[2016-11-01 23:18] jarednova commented on #1221
Closed by #1222

[2016-11-01 23:18] #1221 closed

[2016-11-03 16:31] terrarum commented on #1194
I had the same problem, I found issue #529 which explains how paging in multipage posts works.

[2016-11-03 21:39] jarednova commented on #1210
@piotrkulpinski — good idea! I made that happen today — check out #1228 (now in master)

[2016-11-03 21:39] #1210 closed

[2016-11-07 01:16] justalever opened #1230 "Multiple Menu Issues"
### Expected behavior
I'm trying to implement multiple menus. One for the header and one for the footer. I have made both menus in WordPress. I have also registered both menus and issued their own specific locations.

### Actual behavior
The Primary nav display correctly using the TimberMenu class. I make another call for the footer menu and the result is null.

### Steps to reproduce behavior

**

[2016-11-07 14:19] sbaghdadi commented on #1130
I can confirm that

[2016-11-07 17:01] luukdv commented on #1230
Seems like you include `footer.twig` with the `footer` variable set to `footer.get_items`. In `footer.twig` you call `get_items` on this variable _again_, which doesn't exist. Looks like `{% for item in footer %}` should work.

[2016-11-07 17:07] justalever commented on #1230
Thanks for the reply!

Unfortunately what you suggest still returns null. I updated `footer.twig` as shown below:

[code]

[2016-11-07 18:18] halian-vilela opened #1231 "Menu Items post_name inconsistency"
### Expected behavior
I would like to get the `slug` of a menu item by accessing `item.post_name` when looping over a TimberMenu array

### Actual behavior
I actually have 5 itens in my menu, but only **ONE** of them is displaying the `slug`, all other are displaying the item's `id`. I cannot tell what's the source of this inconsistency because all itens were inserted the same way in WP's menu.

#

[2016-11-08 14:54] tomasvanrijsse opened #1233 "post_content is incorrect in shortcodes"
### Expected behavior
In a lot of shortcodes we use Timber::get_posts() with a list of id's.
The returned posts should contain their own content

### Actual behavior

They all got the post_content form the current page.
Other fields do seem fine like slug, title and id.

### Steps to reproduce behavior

[code]

### What version of WordPress, PHP and Timber are you using?
WordPress 4.6.1, PHP 7.0,

[2016-11-09 22:07] ColeWelsome opened #1236 "switch_to_blog() in TimberPost extension."
### Expected behavior
On the homepage of my multi site I want to see a list of posts from other sites. I'd like to be able to  call switch_to_blog() once then get the posts and their respective links then restore_current_blog(). The only way I can get this working is if I call switch_to_blog() in multiple places. See below code for my attempting at switching only once.

### Actual behavior
PHP run

[2016-11-11 18:40] motia commented on #1230
I have faced the same problem, it is because Timber don't get the menu by slug correctly.

[code]

[2016-11-11 19:02] corysimmons commented on #429
What's the status of this?

`return wp_get_attachment_image_src($this->ID, $size)[0];` seems to fix this, but if it were that easy, I'm sure it'd be merged by now. Can a maintainer update us or can we get this merged?

It'd be nice if Timber worked with the plethora of WP S3 plugins out of the box.

[2016-11-11 19:14] blindstuff commented on #429
@corysimmons I'm still replacing that line manually every time I update timber. I'm also interested in seeing if there is any news on an official fix.

[2016-11-11 20:50] #1230 closed

[2016-11-11 21:06] corysimmons commented on #429
@blindstuff That's pretty brutal whenever I need to hand the site off to the client, "Hey, don't update your site because the framework I used on it will break the imagery."

I'm really not sure what to do but the fact that Timber seems incompatible with WP's official API puts me off of using it again.

This seems like a pretty common issue as well...

[2016-11-11 21:20] jarednova commented on #1236
@ColeWelsome just a stab, but try wrapping the code with `is_multisite()`?

[2016-11-11 22:35] jarednova commented on #1231
@halian-vilela this is a tricky one. I did some investigation and you're correct that `post_name` sometimes gives id values. That's because the `post_name` of `nav_menu_item` is the WP posts table _is_ a number like that. I'm hesitant to change this (but I'm open to a good argument).

That said you CAN use `.slug` (for example `menu_item.slug`) which will always return the slugifyed name you're lo

[2016-11-12 14:38] jarednova commented on #824
#1238 should address this, lemme know if anyone runs into issues

[2016-11-12 14:38] #824 closed

[2016-11-12 14:38] #1209 closed

[2016-11-13 17:04] halian-vilela commented on #1231
@jarednova

Yeah, I had figured that out by taking a look at the source code from `TimberMenuItem` class. But I think that's not clear in the documentation. But I can add it myself as soon as I have some spare time.

Now, in regards to `post_name`, I guess any change would be welcome to guarantee a more robust value, regarding the fact that with the current implementation we cannot have a clue on

[2016-11-13 21:05] ColeWelsome commented on #1236
Thanks for the reply jarednova,

Unfortunately, that didn't work. This is a multisite I'm developing on. I tried debugging restore_current_blog() in ms-blogs.php but I didn't get far.

This is the code I currently have and it works but I'm new to Timber so I keep thinking there's a better way:

`// Fixes issue where the timber post object trys to get the link from the current blog
class fix_link e

[2016-11-14 19:44] penguinstampede commented on #228
This seems to have returned in 1.1.9?  I'm using bedrock, not sure if that makes a difference or not.  Rolling back to 1.1.8 removes these warnings.

`Warning: realpath(): open_basedir restriction in effect. File(/) is not within the allowed path(s): (/srv/www/:/tmp) in /srv/www/*****/current/web/app/plugins/timber-library/vendor/twig/twig/lib/Twig/Loader/Filesystem.php on line 37`

[2016-11-14 19:50] jarednova commented on #228
@penguinstampede mrrrrrrgggg. I think it's actually an update to Twig (and how it interacts with Timber). Could you try using the `vendor` directly from 1.1.8 in Timber 1.1.9 and see if that resolves the issue? It's not a permanent fix, but it will help confirm where the issue lies

[2016-11-14 20:00] penguinstampede commented on #228
Ahh I didn't realize the error messages were slightly different.  But, my version of Twig did not update with Timber as it's held at 1.13 (composer is installing both phpbb and wordpress, in this particular setup).

Will try this on a much simpler WP setup in a bit.

[2016-11-14 21:33] codytooker opened #1241 "Updating to 1.1.9 causes open_basedir restriction warnings."
After updating to 1.1.9 I am receiving the following error on some pages of my sites.

Warning: realpath() [function.realpath]: open_basedir restriction in effect. File(/) is not within the allowed path(s): (/nfs:/tmp:/usr/local:/etc/apache2/gs-bin) in /nfs/c06/h06/mnt/154442/domains/onda.dodstaging.co/html/wp-content/plugins/timber-library/vendor/twig/twig/lib/Twig/Loader/Filesystem.php on line 3

[2016-11-14 21:58] jarednova commented on #1241
Thanks @codytooker — someone else reported a similar issue. Can you try replacing your `vendor` directory with one from version 1.1.8? I think this is an issue with Twig (not blaming them, but it's how the two work together) but I want to confirm before going on a wild goose chase. Anyway, let me know if that solves the problem so I can focus on that connection, thanks!

[2016-11-15 00:50] halian-vilela commented on #228
@jarednova

I've managed to circunvent it by changing the hardcoded base_path in `lib/Loader.php` on line 127 from `/` (which explodes) to my `home` (just the usual base_path from my host).

I guess a good option would be to apply a filter that would permit us to change this option, depending on how strict the host is with this `open_basedir` stuff.

[2016-11-15 14:41] shnam7 opened #1242 "Post:comments() function crashes when no parent comment exist"
### Expected behavior

[Situation] WordPress allows comments to be deleted, event when they have children. In that case, only the chosen comment is deleted with its child-comments remaining. (The comment count report also includes the orphaned child comments).
Even though parent comment is deleted, it should not crash, and need to work at leash in similar fashion as 'wp_list_comments()' function o

[2016-11-15 15:39] jarednova commented on #1233
@tomasvanrijsse — I _think_ what you might be looking for is to use `{{ post.content }}` instead of `{{ post.post_content }}` the diff?

## post.post_content (and post.post_title, etc.):
These use the values exactly as stored in the WP database

## post.content (and post.title, etc.)
These use the values after they've been filtered by shortcodes and other WP filters — these are generally more appr

[2016-11-15 15:49] tomasvanrijsse commented on #1233
We where using `post.get_preview(40,false,false,false)` in the twig file
It looks like the old school errors we used to have back in the day when we where using WP_Query in the loop with the_post();
And we definitely didn't use the_post :)

[2016-11-15 21:35] brettwise commented on #228
I also am using Bedrock and Sage 8.42 and tried using 1.1.9 of Timber with them and received the same warnings. Downgrading to 1.1.8 removed the warnings.

Let me know if I can provide any more info.

[2016-11-16 10:51] alexandernanberg commented on #1129
I've created a pull request that solves this issue. #1244

[2016-11-16 16:51] jarednova commented on #1241
@codytooker — can you try out the code in this PR?

https://github.com/timber/timber/pull/1245

... easiest way is to copy-and-paste the contents of `lib/Loader.php` into your install — let me know if that does the trick!

[2016-11-16 16:52] jarednova commented on #228
@brettwise @halian-vilela @penguinstampede can you try out the code in this PR #1245?

... easiest way is to copy-and-paste the contents of lib/Loader.php into your install — let me know if that does the trick!

[2016-11-18 12:20] j-greig opened #1246 "Help looping through ACF Pro flexible content fields"
I've read all the examples and searched the issues here but I can't get my head around how the ACF flexible content fields work via Timber, or how to use acf_fc_layout correctly.

So far I've got as far as spitting out all of the field content, but this includes the layout names which obviously I dont want:

`            {% for flexi in post.get_field('flexi') %}`
`                   {% for rows i

[2016-11-18 12:43] j-greig commented on #1246
PS. One more q — how do you access the wrapper attributes?

[2016-11-18 12:56] halian-vilela commented on #1246
You don't need the inner loop. Just treat it as a normal repeater  and use only the first loop like `{% if flexi.acf_fc_layout == 'thirtyseventy' %}` and then go straight to the value of the field `{{flexi.thirty}}`.

I like to put the whole layouts inside their own templates, so its clear to see what is happening, just like:

[code]

[2016-11-18 14:17] j-greig commented on #1246
Thank you @halian-vilela, working now :)

[2016-11-18 14:19] #1246 closed

[2016-11-18 22:55] jarednova commented on #1246
@j-greig another link to help you out....

https://github.com/timber/timber/blob/master/docs/wiki/_acf-cookbook.md#flexible-content-field

[2016-11-19 11:05] shnam7 commented on #954
Yes, I'm also experiencing the same issue!

[2016-11-21 05:22] jarednova commented on #1241
Closed by #1245

[2016-11-21 05:22] #1241 closed

[2016-11-21 18:38] corysimmons commented on #830
@nickmoline I'd be interested in those examples.

I think the benefit of using WP REST API is to generate an API that can be used in multiple contexts. For instance, I might want to use Timber for templating on desktop, but might also want to make an Apple Watch app that uses some JS framework.

Would Timber even be useful in this context? Or, at that point, are we just talking about Twig?

If the

[2016-11-21 19:04] nickmoline commented on #830
@corysimmons your Apple Watch app (or mobile app, or progressive javascript web app, or whatever) wouldn't be going through Timber at all but instead would be speaking directly to the REST API.

The bottom line is that Timber, and the REST API serve different (complimentary) purposes.  Timber does not need the REST API itself because it is a template and is just templating out the data that is alr

[2016-11-22 05:31] xtatanx opened #1247 "Image resize and cache"
Hello everyone,

I'm developing a [site](http://jhonnatangonzalez.com/) using timber, now we are close to release the site we have been trying to optimize the site using total cache plugin however, noticed that all the images using the resize filter never get cached. Was wondering if any of you guys have any feedback about this, is this an issue? is probably something I am missing?

I appreciate i

[2016-11-22 11:54] halian-vilela commented on #1247
@xtatanx

Have you tried using the usual way? I mean declaring predefined thumbnail sizes in `functions.php` like:

[code]
And then calling it with `TimberImage('post.img').src('slider')` or `post.thumbnail.src('slider')` (the first one with `post.img`  returning a custom field image's ID.)

[2016-11-22 17:55] xtatanx commented on #1247
@halian-vilela

I am going to try that this afternoon ant let you know!

Thanks

[2016-11-23 13:03] frazerf opened #1248 "Showing an internal link or external link by toggling radio buttons with ACF"
Hi there,

I have a repeater set up that loops over a list of events. Within those events they can link to an external or internal page. I've set this up in ACF but I'm having some trouble with conditional logic.

Basically in ACF I have two radio buttons. One that says "yes" that shows the internal page link and "no" which shows a URL field.

Could anyone help me out on where I'm going wrong?

`

[2016-11-23 21:28] xavivars opened #1249 "Pagination issue when using query string parameters"
### Expected behavior
Given a page like this:

https://www.softcatala.org/noticies/?cerca=gimp

where `cerca` is defined as a query_var

[code]
pages should get paginated as

https://www.softcatala.org/noticies/page/2/?cerca=gimp

### Actual behavior
Pagination links are created like

https://www.softcatala.org/noticies/page/2/?cerca=gimp/

### Steps to reproduce behavior
The problem is in this li

[2016-11-28 12:06] alexandernanberg commented on #1129
@jordant1089 & @kmmathis Can you test with the latest release now? My pull request got merged and solved the issues I had previously.

[2016-11-28 12:41] adamtomat opened #1253 "Unable to add additional Twig Filesystem Loaders"
### Expected behavior
We need to change the way twig handles file look-ups as we are using a pattern library with WordPress. We therefore would like to register our own Loader (that implements `Twig_LoaderInterface`, see example below) with Timber.

For example: Our file structure looks like this:

- <theme>/views/templates/
    - home/
        - template.twig

Given this command:

`Timber::render

[2016-11-28 16:08] jordant1089 commented on #1129
I tested the new version and it looks like the change corrected the issue. The changes made in the Yoast SEO Metabox stayed after saving.

Thanks for looking into and correcting the issue.

[2016-11-28 16:09] jarednova commented on #1129
Woohoo! Sounds like we're good here. Thanks again to @alexandernanberg for his fix!

[2016-11-28 16:09] #1129 closed

[2016-11-29 14:23] Leobaillard commented on #1205
Hi! Any news on this?

[2016-11-29 14:25] jarednova commented on #1205
@Leobaillard if you're interested, I'd love to see a PR! I don't have time to code stuff like this from-scratch right now

[2016-12-01 05:28] jphilung opened #1257 "Make $wp_query->found_posts available through Timber::get_posts()"
On queries that do not specify arguments related to posts_per_page and which uses the default posts_per_page value, I can't find a way of getting the total number of posts found.

#425 references this issue, but the count in the array returned is at maximum the number specified by the default posts_per_page.

For the moment, I've resorted to using the global $wp_query variable and get the value fr

[2016-12-02 10:45] paulhuisman commented on #1257
Funny you posted this yesterday, because it's exactly what i need as well.

[2016-12-02 20:23] jarednova commented on #1249
Closed by #1250

[2016-12-02 20:23] #1249 closed

[2016-12-02 20:23] jarednova commented on #1253
Closed by #1254

[2016-12-02 20:23] #1253 closed

[2016-12-03 11:39] herrschuessler opened #1261 "Problem with open_basedir on shared host"
### Actual behavior
When testing my Timber-powered site on a shared hosting environment, I get the following error:

[code]

The value of `ini_get('open_basedir')` on my host is an empty string.

Changing the function at Line 124 in lib/Loader.php
[code]
to
[code]
resolves the issue for me, but I'm not realy sure why - and if this would work in other environments.

### What version of WordPress, P

[2016-12-03 12:07] jarednova commented on #1205
Thanks for your PR @Leobaillard! I uncovered another issue in writing a test so I'm gonna work on that a bit so that we can have Timber Comments be 💯

[2016-12-03 18:10] jarednova commented on #1205
I'm working on a new class for groups of comments attached to a post — `CommentThread` for a class name? Just `Thread`? taking suggestions....

[2016-12-04 07:55] Leobaillard commented on #1205
Seems good! It's more generic than Child, it reflects the comment mechanism better. Looking forward to seeing what you'll come up with!

[2016-12-04 23:19] benthek opened #1262 "Multiple args in ACF Flexible content loop"
Hi,

I am trying to create a flexible content loop that includes an article row in which my client can select which posts are being displayed. Right now, I have two options: based on date and based on place (ACF relation field). It only works for one row, once there are more rows, the content of all rows is the same. How do I make sure the output of $context['flex_posts'] varies for two different

[2016-12-06 11:10] slimndap opened #1263 "'nav_menu_css_class' filter in MenuItem::import_classes() is missing arguments"
The `nav_menu_css_class` in WordPress can have up to 4 arguments:

[code]

Timber also applies this filter in `MenuItem::import_classes()` but it lacks the 3rd and 4th argument:

[code]

Resulting in the following error message:

[code]

### Steps to reproduce behavior

Add this to `functions.php`:

[code]

### What version of WordPress, PHP and Timber are you using?
WP 4.6, Timber 1.1.10, PHP7.

[2016-12-08 15:56] developer-lindner opened #1266 "Incomplete Composer Package Update (1.1.11)"
Your Fix for 'Deprecated Twig getExtension argument' is missing in latest (1.1.11) composer package of Timber. Maybe some other stuff too... Not cool!

Please fix this asap!

[2016-12-08 17:27] jarednova commented on #1266
Hey @developer-lindner — that PR came in after 1.1.11 had been released to WP.org. It will be a part of the next release for sure. Is there a particular urgency around that fix? As I understand, that will come into play with Twig 2.0 which is not yet released

[2016-12-09 03:02] feshin opened #1267 "Incorrect URL for files uploaded to subsites when using TimberSite class in theme"
First off, just want to say how much we love using Timber. It's really helped us simplify our theme (and our lives).

This is a bit of a complex problem, so will do my best to describe it.

Background: We're running a multisite with about 200 sites on it (large intranet). We started the multisite at about WP version 3.4 (mentioning this as it means our file uploads for subsites is the legacy blogs

[2016-12-09 06:56] developer-lindner commented on #1266
Hey @jarednova unfortunately your're wrong here. The fatal error already happens with Timber 1.1.11 or better say with Twig 1.26 which comes with the composer install of Timber 1.1.11. That's why i had to pull the fix out of the github repo. You should release it soon ;)

[2016-12-09 16:37] Beee4life opened #1269 "Fatal Error: Cannot access empty property"
My template worked without any problem.... I then updated to 1.1.11 and got this error. I'm not sure if the update caused this, but I first noticed it after the update.

`Fatal error: Cannot access empty property in /Users/Beee/HTML/project-folder/webapp/content/plugins/timber-library/lib/Image.php on line 285`

Line 285 is the second line in this statement:

    foreach ( $custom as $key => $valu

[2016-12-09 17:33] Beee4life commented on #1269
Further investigating learns if I dump $key and $value they are both not empty.
If I dump $this the ID shows NULL
**I don't think this should be NULL**

$iid is properly passed on line 267 because if I dump it I get the expected ID and if I dump $image_info I can find the image ID in there. See the output http://pastebin.com/AWbbNHXC.

I then tried dumping $this->ID on line 283 which also produces

[2016-12-09 18:54] Beee4life commented on #1269
I just did a clean install and only activated timber which gave the error as mentioned above and I saw a new warning, which I didn't notice before since the plugin was already active.

`The plugin generated 239 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin.`

[2016-12-09 21:20] moazam1 opened #1270 "CDN not working"
I am using roots/bedrock and Timber/twig for my WP site. I am using CDN enabler plugin but it doesn't seem working with my current setup. I have another wordpress site non timber where it works fine. Any idea how do I debug this issue?

[2016-12-09 22:32] corradomatt commented on #1270
@moazam1 are you caching the output of the twig files? I'd look there first. Although it doesn't seem like that should be the issue. Typically a plugin like that would just filter the paths on all assets.

[2016-12-09 23:00] moazam1 commented on #1270
@corradomatt thanks for the reply. No, I am not caching pages yet. Just wanted to ask if I cache pages how do I clear cache. I don't see any Timber option in WP backend that let me purge cache. Thanks!

[2016-12-10 14:12] Beee4life commented on #1269
Another site which also runs Timber which hadn't been worked in over more than a month was also updated to Timber and broke completely as well.

I deactivated w3tc after several attempts to fix it by downgrading/upgrading and that appeared to have worked. Can it be it clashes with w3tc in some way ????

Although this can't be entirely it because on my other site (for which I started this issue) I

[2016-12-10 14:14] jarednova commented on #1269
thanks @Beee4life — I'll look into this!

[2016-12-10 15:00] Beee4life commented on #1269
some more info I just discovered.... if I would feed an URL into then it does work, but then it doesn't show the proper format image.... I return an image ID from an ACF image upload field.... but the full image is not the image i'd like to show since it's a cropped version which is 'determined' after this.

[2016-12-10 15:12] Beee4life commented on #1269
if you want i can give you access to a staging ftp which is a copy of dev...

[2016-12-10 15:22] Beee4life commented on #1269
Just found out it also interferes with deleting a custom post type. I get the same fatal error. If I delete timber and then delete it works fine.

[2016-12-10 15:46] Beee4life commented on #1269
i played around some more with the definition of how the image ID was called because I saw an image appear somewhere on the site.

The notation there was different.
On the frontpage I used `{% set image = TimberImage(item.get_field( 'sd_profile_photo' )) %}` where as on that other page I used `{% set image = TimberImage(item.sd_profile_photo) %}`.

It appears this seems to fix my issue for now...

[2016-12-10 15:49] corradomatt commented on #1270
I clear cache programmatically in PHP.

As to your original issue, I'm going to go out on a limb and say that it's probably not an issue with Twig/Timber. If you use something like phpStorm with xdebug you can put some breakpoints on parts of your CDN plugin that should be loading things.

[2016-12-10 16:31] moazam1 commented on #1270
@corradomatt thanks. I used w3tc and it worked fine.

[2016-12-10 16:31] #1270 closed

[2016-12-11 02:06] oxyc commented on #405
This still doesn't work with eg `soil` that outputs relative URLs. https://github.com/timber/timber/blob/master/lib/Image.php#L303

[2016-12-12 16:53] xtatanx commented on #1247
Hello @halian-vilela,

Tested adding thumbnails via functions.php and regenerating them but still having the same issue, images are not getting cached.

Regards

[2016-12-13 16:40] maciekkus commented on #1004
Hi, quick and dirty workaround:
`
    add_action( 'the_post', 'wc_setup_product_data_fix',11 );
    function wc_setup_product_data_fix() {
        remove_action( 'the_post', 'wc_setup_product_data' );
        return;
    }
`
put it in functions.php
@tomasvanrijsse - thanks for pointing out that the_post action is triggered from timberpost class init method.

[2016-12-19 11:07] Beee4life commented on #1269
I haven't noticed any error anymore... not quite sure what caused this all, but i'm glad it's not occurring again....

[2016-12-19 11:07] #1269 closed

[2016-12-19 11:29] Beee4life opened #1274 "TimberPost causing time outs"
My site worked as expected. Coming back into work today, I noticed TimberPost is causing a time out.

This is my code:

    {% if content_type != 'iconblock' %}
        {% set item         = TimberPost(item_id) %}
        {% set image_id     = item.image %}
        {% set image        = TimberImage( function( 'wp_get_attachment_image_url', image_id, 'PHOTO_S' ) ) %}
    {% else %}
        {% set i

[2016-12-19 11:48] Beee4life commented on #1274
If I hardcode a post id in `{% set item = TimberPost(item_id) %}` it shows what I expect, but if I use a variable there, the time out occurs again.

[2016-12-19 16:52] elliottmangham opened #1275 "Error : /timber-library/vendor/twig/twig/lib/Twig/Lexer.php on line 390"
### Expected behavior
Normal installation.

### Actual behavior
I am getting this error when I try and use Timber/Twig:
Fatal error: **Call to undefined function ctype_alpha() in /{root-to-project}/wp-content/plugins/timber-library/vendor/twig/twig/lib/Twig/Lexer.php on line 390**

### Steps to reproduce behavior
I just followed the guides, copied the starter theme into themes folder. But I get th

[2016-12-19 20:43] dvogeldev opened #1276 "guzzle/guzzle abandoned, use guzzlehttp/guzzle instead"
Error msg from new install via git clone and composer install
Composer version 1.2.4

[2016-12-20 05:40] Rocketpilot commented on #1143
Addendum that I've updated to the latest version of WP and Timber and also my Zend environment to PHP 5.6.23 and still having the same issues even on my completely vanilla local test installation. Very perplexing.

[2016-12-20 21:19] jarednova commented on #1276
Thanks @dvogeldev — guzzle is not a direct dependency of Timber, it's likely being called by one of our dependencies. do you know of any way to find out which?

[2016-12-23 14:41] Sirove opened #1277 "Add ReplayGain support"
Would really love to see ReplayGain support considering the extreme loudness differences!

[2016-12-23 14:56] jarednova commented on #1277
You might be looking for a different Timber project, this one is for WordPress templates

[2016-12-23 14:56] #1277 closed

[2016-12-25 04:47] mdaliyan commented on #1274
Are you using `new $PostClass($pid)` in your template?

try to use something like this `{{#<?php $item = new $PostClass($pid); ?>}}`

I think twig has propbem phrasing that. I read it somewhere I don't remember where, but the syntax was something like that.

[2016-12-27 00:01] Beee4life commented on #1274
No I am not... I am not quite sure what happened... I went back 2 or 3 commits and redid the changes and then it worked without a hitch...

I do get an occasional time out... but nothing serious anymore... If I only knew what caused it....

[2016-12-30 03:17] jarednova commented on #1205
@Leobaillard @alicam — this is now ready, check out the current version of master!

[2016-12-31 10:17] rentorm opened #1278 "Class 'Twig_Cache_Null' not found"
I'm using theme based on Timber and Twig and all works fine on my local dev environment, but when I publish it on WPengine server and navigate to the site I get this error:

```PHP Fatal error: Class 'Twig_Cache_Null' not found in /nas/content/staging/ptlondon/wp-content/plugins/timber-library/vendor/twig/twig/lib/Twig/Environment.php on line 280```

Contacted WPengine and they could not help me,

[2016-12-31 10:42] rentorm commented on #1278
allright, found what was the issue. There was **```cache```** in .gitignore file and therefore 'Cache' folder in lib was excluded in deployment. Maybe worth to note this somewhere in docs or even rename folders.

[2016-12-31 15:57] Eworm commented on #954
Same thing happening to me!

[2017-01-02 14:29] gchtr commented on #1248
I guess this is not really an issue specific with Timber, but more of a question on how to implement ACF with Timber. A better place to ask these kind of questions would probably be [Stackoverflow](http://stackoverflow.com/questions/tagged/timber) or the [Gitter chat](https://gitter.im/timber/timber). But maybe I can help.

---

In your Twig file you have this line:

[code]

Where does the `option

[2017-01-02 15:25] gchtr commented on #1262
I guess this is not really an issue specific with Timber, but more of a question on how to implement ACF with Timber. A better place to ask these kind of questions would probably be [Stackoverflow](http://stackoverflow.com/questions/tagged/timber) or the [Gitter chat](https://gitter.im/timber/timber).

---

You write `$context['flex_posts'] = Timber::get_posts($args);` inside a while loop. This wa

[2017-01-02 15:35] gchtr commented on #1223
If you solely want to rely on Routes, then you could also add the `wp_enqueue_scripts` action inside the Route closure:

[code]

As long as you add `wp_enqueue_scripts` before the `wp_head` function, you could also place it in `page-templates/template-photo.php`.

[2017-01-02 15:46] moazam1 commented on #1223
@gchtr Thanks for the answer. I thought about same but I wanted to keep my enqueue files in one place. I ended up creating a twig function for enqueue styles and scripts. I registered styles/scripts in my file and called them directly in the template files.

[2017-01-02 15:46] #1223 closed

[2017-01-03 11:53] daviddarke opened #1279 "theme_url_to_dir() isn't returning the correct result - Undefined index: dirname"
Having issues loading / cropping images located inside the theme folder.

Drilled down to see that when using theme_url_to_dir() on line 378 of timber-library/lib/ImageHelper.php
[code]
The $tmp var returns blank if loading an image from the theme directory. The previous release used:
[code]
and returned this "/placeholders/website-site-placeholder.jpg". This file name is related to this example,

[2017-01-04 22:43] xavivars opened #1280 "Theme->Link returns incorrect"
### Expected behavior
According to the documentation,

`get_stylesheet_directory_uri() => {{ theme.link }}`

### Actual behavior

In some case (for example, when a theme is registered in a different directory than the root one: `register_theme_directory(ABSPATH . 'themes');` )

The result of `theme.link` is incorrect (even though `theme.uri` is correct. I'm using theme.uri in the mean time).

Issu

[2017-01-04 23:22] xavivars commented on #1280
I think Timber\Theme should be a thinner  wrapper on top of WP_Theme. For example, theme link should be just `return $wp_theme->get_stylesheet_directory_uri()`

[2017-01-05 15:02] xavivars opened #1282 "Multisite tests have errors"
### Expected behavior
Clean php unit execution

### Actual behavior
Plenty of exceptions (see, for example, https://travis-ci.org/timber/timber/jobs/189207509)

[2017-01-05 18:35] jarednova commented on #1280
Closed by #1281

[2017-01-05 18:35] #1280 closed

[2017-01-06 15:44] benthek commented on #1262
Hi Lukas,

Thanks for your suggestion! I think I'm getting closer with your code, but I'm getting this warning:

<pre>Attempt to assign property of non-object</pre>

Do you have any idea what is going wrong?

[2017-01-06 18:00] gchtr commented on #1262
It might be this line:

[code]
`$row` is actually an array and I tried to use it as an object. Please change it to the following to see if it works:

[code]

[2017-01-06 21:21] benthek commented on #1262
It works now, thank you very much Lukas! 👍 :-)

[2017-01-06 21:36] gchtr commented on #1262
Nice! Glad I could help.

[2017-01-10 00:20] jackmcpickle commented on #1279
yes I have the same issue.

digging deeper seems to be coming from here?
https://github.com/timber/timber/compare/1.1.12...1.2.0#diff-46be88a6b330f3590d156d5879bfcf4bR398

calling `realpath()` on a url returns false.

[2017-01-10 03:14] jarednova commented on #1279
Thanks @jackmcpickle and @daviddarke! Can one of you guys post a test case for a scenario that worked before that now fails? I want to make sure I have the exact situation re-produced (since this is passing the automated tests). @daviddarke I notice you're calling something from inside `/wp-content/placeholders`? Is that scenario also a case where this fails?

[2017-01-10 09:16] daviddarke commented on #1279
@jackmcpickle, @jarednova Cool, yeah this:

[code]

Doesn't crop the image, yet not in 'wp-content':

[code]

Does return a cropped Image.

In 1.1.12 everything works as expected and both of the above returned cropped images.

[2017-01-10 17:15] blocher opened #1286 "Fatal error when another plugin is installed that uses Twig and Timber version is >= 1.1.12"
### Expected behavior
A functioning website without a fatal error

### Actual behavior
Displays a fatal error: "The "Twig_Extension_Core" extension is not enabled."

See stack trace at: https://gist.github.com/blocher/71ec2e1322f88e30780b8e44b77d6063

### Steps to reproduce behavior
- Install and activate Timber >= version 1.1.12
- Install and activate another plugin that uses Twig, such as All in

[2017-01-11 07:45] mahagr commented on #1286
The issue comes from the two plugins both including Twig library, but a different version of it. The newest version of Twig deprecated some code and provides a new 2.0 compatible way instead. This doesn't work in the older Twig version, thus causing the error.

There's really nothing you can do except for asking plugin developer to update his twig dependency to the latest version. Or you can make

[2017-01-11 13:52] jakub300 opened #1287 "CommentThread class missing from release"
### Expected behavior

`CommentThread` class included in Timber release on WP.org

### Actual behavior

There is no `CommentThread` class. Also files `Comment.php` and `Post.php` differ between git branch `1.2.0` and actual 1.2.0 release.

### Steps to reproduce behavior

1. Download zip from https://downloads.wordpress.org/plugin/timber-library.1.2.0.zip and unpack it
2. Look for `CommentThread.p

[2017-01-11 14:58] tvanantwerp commented on #429
I really want to see this issue solved, so I've posted a [$100 bounty](https://www.bountysource.com/issues/7301361-timberimage-incorrect-url-returned-when-image-is-stored-off-server). Six month time limit.

[2017-01-11 15:05] jarednova commented on #429
@tvanantwerp — well that will get our attention! I'm working on #1279 and #1286 right now; so I'd love to see PRs on this (with tests, please)!

[2017-01-11 16:33] karboom opened #1288 "Custom Twig Lexer and Load Custom Twig extension"
Is there any  way to Custom Twig Lexer and Load Custom Twig extension with timber?

[2017-01-11 16:39] #1288 closed

[2017-01-11 16:40] karboom commented on #1288
I just found the way [#1161](https://github.com/timber/timber/issues/1161)

[2017-01-11 16:41] jarednova commented on #1288
Glad to hear @karboom! Thanks also for posting the issue reference for future Googlers

[2017-01-11 20:08] jarednova commented on #1286
@mahagr @blocher good news! Timber now uses Twig 2.0! If I understand @mahagr correctly this _should_ resolve the issue; but please confirm with the latest master if you can.

[2017-01-11 20:10] jarednova commented on #1287
Thank you so much @jakub300 — I'm not sure what happened there. It's now fixed and I'll push out a 1.2.0.1 so that existing users of 1.2 get the patch

[2017-01-11 21:22] carstenwawer opened #1291 "get_posts gets same post_content for every post"
## Remark: Even I can't reproduce this behaviour on my development-machine. It only occurs on a Ubuntu-Server. But it is so specific, that perhaps someone here has a hint for me?

It drove me crazy today, so any help is appreciated! Thanks!

### Expected behavior
get_posts should get a number of posts with their corresponding content

### Actual behavior
get_posts gives a number of posts, with all